* {
    padding: 0px;
    font-family: Montserrat;
}

/* header section started   */
header {
    background-color: white;
    padding: 30px 30px;



    nav {
        display: flex;
        justify-content: space-between;
        border-top: 2px double black;
        border-bottom: 2px dotted black;

        .nav-logo-container {
            display: flex;

            h1 {
                font-size: 3rem;
                font-weight: 700;
                color: #131313;
            }


        }

        ul {

            display: flex;
            align-items: center;

            li {
                list-style-type: none;
                margin-right: 30px;
                font-weight: 500;
                font-size: 1rem;

                a {
                    text-decoration: none;
                    font-size: 1rem;
                    margin-right: 50px;
                    margin-bottom: 20px;
                    border-bottom: 1px solid black;
                    border-top: 1px solid black;
                    padding: 10px 5px;
                    border-radius: 8px;
                    color: #000;
                }

                .home {
                    text-decoration: none;
                    font-size: 1rem;
                    margin-right: 50px;
                    margin-bottom: 20px;
                    border-bottom: 1px solid black;
                    border-top: 1px solid white;
                    padding: 10px 5px;
                    border-radius: 8px;
                    color: black;
                    background-color: white;
                }



                a:hover {
                    text-decoration: none;
                    font-size: 1rem;
                    margin-right: 50px;
                    margin-bottom: 20px;
                    border-bottom: 1px solid black;
                    padding: 10px 5px;
                    border-radius: 8px;
                    color: white;
                    background-color: #000;
                    transition: all 2s ease-in-out 0.1s;
                }
            }
        }

        .nav-logo-icon {
            display: flex;
            align-items: center;
            padding: 20px 0px;

            .btn-primary {
                font-size: 1rem;
                padding: 10px 15px;
                border: 2px solid black;
                border-radius: 10px;
                background-color: black;
                color: white;
                font-weight: 700;
                text-transform: capitalize;
                padding-right: 15px;
                margin-right: 40px;

                a {
                    color: white;
                    text-decoration: none;
                }
            }

            .btn-primary:hover {
                font-size: 1rem;
                padding: 10px 15px;
                border: 2px solid black;
                border-radius: 30px;
                background-color: gray;
                color: white;
                font-weight: 700;
                transition: all 2s ease-in-out 0.1s;
                padding-right: 15px;
            }

            i {
                font-size: 2rem;
                padding: 5px 20px;
            }

            i:hover {
                color: white;
                background-color: black;
                border-radius: 8px;
                transition: all 2s ease-in-out 0.1s;
            }
        }



    }
}

/* header section ended  */


/* main section start  */
main {
    padding: 20px 10px;

    /* sign-in section start  */
    .sign-in-formality {
        background-color: antiquewhite;
        display: flex;
        flex-direction: column;
        align-items: center;

        .sign-in-part {
            display: inline-flex;
            flex-direction: column;
            align-items: center;
        }

        label {
            margin: 20px;

            input {
                padding: 20px 40px;
            }

        }

        .optional-part {
            display: inline-flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;

            p {
                text-align: center;
                color:#C3B212;
            }

        }

        .btn-primary {
            font-size: 1.5rem;
            padding: 10px 15px;
            border: 2px solid black;
            border-radius: 10px;
            background-color: white;
            color: black;
            font-weight: 700;
            text-transform: capitalize;
            margin-bottom: 20px;
        }
    
        .btn-primary:hover {
            font-size: 1.5rem;
            padding: 10px 15px;
            border: 2px solid black;
            border-radius: 10px;
            background-color: gray;
            color: white;
            font-weight: 700;
            transition: all 2s ease-in-out 0.1s;
        }

    }
    /* sign-in section end */
    
}

/* main section end */


/* main section end  */






/* media query started  */

/* media query for mobile or small device started  */
@media screen and (max-width:576px) {
    header {
        padding: 20px 5px;

        nav {
            display: f;
            flex-direction: column;

            .nav-logo-container {
                justify-content: center;
                align-items: center;
            }

            ul {

                justify-content: space-around;
                align-items: center;
                flex-wrap: wrap;

                li {
                    justify-content: center;
                    align-items: center;
                    margin-right: 0px;

                    a {
                        margin-bottom: 0px;
                        margin-right: 0px;
                    }

                    .home {
                        margin-bottom: 0px;
                        margin-right: 0px;
                    }

                    a:hover {
                        margin-bottom: 0px;
                        margin-right: 0px;
                    }
                }

            }

            .nav-logo-icon {
                justify-content: center;
            }
        }



    }

    .sign-in-formality {
        background-color: antiquewhite;
        display: flex;
        flex-direction: column;
        align-items: center;

        .sign-in-part {
            display: inline-flex;
            flex-direction: column;
            align-items: center;
        }

        label {
            margin: 10px;

            input {
                padding: 10px 20px;
            }

        }

        .optional-part {
            display: inline-flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;

            p {
                text-align: center;
                color:#C3B212;
            }

        }

        .btn-primary {
            font-size: 1rem;
            padding: 10px 10px;
            border: 2px solid black;
            border-radius: 10px;
            background-color: white;
            color: black;
            font-weight: 700;
            text-transform: capitalize;
            margin-bottom: 20px;
        }
    
        .btn-primary:hover {
            font-size: 1rem;
            padding: 10px 10px;
            border: 2px solid black;
            border-radius: 10px;
            background-color: gray;
            color: white;
            font-weight: 700;
            transition: all 2s ease-in-out 0.1s;
        }

    }
}



/* media query for tablet or medium device started*/
@media screen and (min-width:576px) and (max-width:992px) {
    header {
        padding: 20px 10px;

        nav {
            flex-direction: column;

            .nav-logo-container {
                justify-content: center;
                align-items: center;
            }

            ul {

                justify-content: space-around;
                align-items: center;
                flex-wrap: wrap;

                li {
                    justify-content: center;
                    align-items: center;
                    margin-right: 0px;

                    a {
                        margin-bottom: 0px;
                        margin-right: 0px;
                        font-size: 1.2rem;
                    }

                }
            }

            .nav-logo-icon {
                justify-content: center;
            }
        }
    }
}



/* media query for large device started*/
@media screen and (min-width:992px) and (max-width:1400px) {
    nav {
        justify-content: space-evenly;

        ul {

            justify-content: space-around;
            align-items: center;


            li {
                justify-content: center;
                align-items: center;

                a {
                    font-size: 1.5rem;
                }

            }
        }
    }

}



/* media query for extra large device started*/
@media screen and (min-width:1400px) {
    nav {
        justify-content: space-evenly;

        ul {

            justify-content: space-around;
            align-items: center;


            li {
                justify-content: center;
                align-items: center;

                a {
                    font-size: 1.5rem;
                }

            }
        }
    }
}