* {
  padding: 0px;
  font-family: Montserrat;
}

/* header section started   */
header {
  background-color: white;
  padding: 30px 30px;
}
header nav {
  display: flex;
  justify-content: space-between;
  border-top: 2px double black;
  border-bottom: 2px dotted black;
}
header nav .nav-logo-container {
  display: flex;
}
header nav .nav-logo-container h1 {
  font-size: 3rem;
  font-weight: 700;
  color: #131313;
}
header nav ul {
  display: flex;
  align-items: center;
}
header nav ul li {
  list-style-type: none;
  margin-right: 30px;
  font-weight: 500;
  font-size: 1rem;
}
header nav ul li a {
  text-decoration: none;
  font-size: 1rem;
  margin-right: 50px;
  margin-bottom: 20px;
  border-bottom: 1px solid black;
  border-top: 1px solid black;
  padding: 10px 5px;
  border-radius: 8px;
  color: #000;
  cursor: pointer;
}
header nav ul li .home {
  text-decoration: none;
  font-size: 1rem;
  margin-right: 50px;
  margin-bottom: 20px;
  border-bottom: 1px solid black;
  border-top: 1px solid white;
  padding: 10px 5px;
  border-radius: 8px;
  color: black;
  background-color: white;
}
header nav ul li a:hover {
  text-decoration: none;
  font-size: 1rem;
  margin-right: 50px;
  margin-bottom: 20px;
  border-bottom: 1px solid black;
  padding: 10px 5px;
  border-radius: 8px;
  color: white;
  background-color: #000;
  transition: all 2s ease-in-out 0.1s;
}
header nav .nav-logo-icon {
  display: flex;
  align-items: center;
  padding: 20px 0px;
}
header nav .nav-logo-icon .btn-primary {
  font-size: 1rem;
  padding: 10px 15px;
  border: 2px solid black;
  border-radius: 10px;
  background-color: black;
  color: white;
  font-weight: 700;
  text-transform: capitalize;
  padding-right: 15px;
  margin-right: 40px;
}
header nav .nav-logo-icon .btn-primary a {
  color: white;
  text-decoration: none;
}
header nav .nav-logo-icon .btn-primary:hover {
  font-size: 1rem;
  padding: 10px 15px;
  border: 2px solid black;
  border-radius: 30px;
  background-color: gray;
  color: white;
  font-weight: 700;
  transition: all 2s ease-in-out 0.1s;
  padding-right: 15px;
}
header nav .nav-logo-icon i {
  font-size: 2rem;
  padding: 5px 20px;
}
header nav .nav-logo-icon i:hover {
  color: white;
  background-color: black;
  border-radius: 8px;
  transition: all 2s ease-in-out 0.1s;
}

/* header section ended  */
/* main section start  */
main {
  padding: 20px 10px;
  /* sign-in section start  */
  /* sign-in section end */
  /* new-user-formality section start*/
  /* new-user-formality section end */
  /* guest-user-formality section start*/
  /* guest-user-formality section end*/
}
main .sign-in-formality {
  background-color: #F4F4F4;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 50px auto;
  border-top: 2px double black;
  border-bottom: 2px double black;
}
main .sign-in-formality .sign-in-part {
  display: inline-flex;
  flex-direction: column;
  align-items: center;
}
main .sign-in-formality label {
  margin: 20px;
}
main .sign-in-formality label input {
  padding: 20px 40px;
}
main .sign-in-formality .optional-part {
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
main .sign-in-formality .optional-part p {
  text-align: center;
  color: #C3B212;
}
main .sign-in-formality .btn-primary {
  font-size: 1.5rem;
  padding: 10px 15px;
  border: 2px solid black;
  border-radius: 10px;
  background-color: white;
  color: black;
  font-weight: 700;
  text-transform: capitalize;
  margin-bottom: 20px;
}
main .sign-in-formality .btn-primary:hover {
  font-size: 1.5rem;
  padding: 10px 15px;
  border: 2px solid black;
  border-radius: 10px;
  background-color: gray;
  color: white;
  font-weight: 700;
  transition: all 2s ease-in-out 0.1s;
}
main .new-user-formality {
  display: flex;
  align-items: center;
  flex-direction: column;
  text-align: center;
  background-color: #F4F4F4;
  border-top: 2px double black;
  border-bottom: 2px double black;
  margin: 100px auto;
}
main .new-user-formality .new-user-part .new-user-part-header h5 {
  text-align: start;
}
main .new-user-formality .new-user-part .new-user-part-footer {
  text-align: start;
}
main .new-user-formality .new-user-part .new-user-part-footer p i {
  padding-right: 10px;
}
main .new-user-formality .btn-primary {
  font-size: 1.5rem;
  padding: 10px 15px;
  border: 2px solid black;
  border-radius: 10px;
  background-color: white;
  color: black;
  font-weight: 700;
  text-transform: capitalize;
  margin-bottom: 20px;
}
main .new-user-formality .btn-primary:hover {
  font-size: 1.5rem;
  padding: 10px 15px;
  border: 2px solid black;
  border-radius: 10px;
  background-color: gray;
  color: white;
  font-weight: 700;
  transition: all 2s ease-in-out 0.1s;
}
main .guest-user-formality {
  display: flex;
  align-items: center;
  flex-direction: column;
  text-align: center;
  background-color: #F4F4F4;
  border-top: 2px double black;
  border-bottom: 2px double black;
  margin-bottom: 100px;
}
main .guest-user-formality .guest-user-part h5 {
  text-align: start;
}
main .guest-user-formality .btn-primary {
  font-size: 1.5rem;
  padding: 10px 15px;
  border: 2px solid black;
  border-radius: 10px;
  background-color: white;
  color: black;
  font-weight: 700;
  text-transform: capitalize;
  margin-bottom: 20px;
}
main .guest-user-formality .btn-primary:hover {
  font-size: 1.5rem;
  padding: 10px 15px;
  border: 2px solid black;
  border-radius: 10px;
  background-color: gray;
  color: white;
  font-weight: 700;
  transition: all 2s ease-in-out 0.1s;
}

/* main section end */
/*footer section start*/
footer .footer-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  background-color: rgb(228, 225, 225);
}
footer .footer-container .footer-container-1 {
  border: 2px solid black;
  padding: 5px;
  border-radius: 10px;
  background-color: white;
}
footer .footer-container .footer-container-1 h1 {
  text-align: center;
  border-bottom: 2px dashed black;
}
footer .footer-container .footer-container-1 p {
  text-align: center;
}
footer .footer-container .footer-container-2 {
  border: 2px solid black;
  padding: 5px;
  border-radius: 10px;
  background-color: white;
}
footer .footer-container .footer-container-2 h1 {
  text-align: center;
  border-bottom: 2px dashed black;
}
footer .footer-container .footer-container-2 p {
  text-align: center;
}
footer .footer-container .footer-container-3 {
  border: 2px solid black;
  padding: 5px;
  border-radius: 10px;
  background-color: white;
}
footer .footer-container .footer-container-3 h1 {
  text-align: center;
  border-bottom: 2px dashed black;
}
footer .footer-container .footer-container-3 p {
  text-align: center;
}
footer .footer-container .footer-container-4 {
  border: 2px solid black;
  padding: 5px;
  border-radius: 10px;
  background-color: white;
}
footer .footer-container .footer-container-4 h1 {
  text-align: center;
  border-bottom: 2px dashed black;
}
footer .footer-container .footer-container-4 p {
  text-align: center;
}
/*footer section end*/
/* media query started  */
/* media query for mobile or small device started  */
@media screen and (max-width: 300px) {
  header {
    padding: 20px 5px;
  }
  header nav {
    display: flex;
    flex-direction: column;
  }
  header nav .nav-logo-container {
    justify-content: center;
    align-items: center;
  }
  header nav ul {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
  }
  header nav ul li {
    justify-content: center;
    align-items: center;
    margin-right: 0px;
  }
  header nav ul li a {
    margin-bottom: 0px;
    margin-right: 0px;
  }
  header nav ul li .home {
    margin-bottom: 0px;
    margin-right: 0px;
  }
  header nav ul li a:hover {
    margin-bottom: 0px;
    margin-right: 0px;
  }
  header nav .nav-logo-icon {
    justify-content: center;
  }
  header nav .nav-logo-icon .btn-primary1 {
    display: none;
  }
  header nav .nav-logo-icon .btn-primary1:hover {
    display: none;
  }
}
/* media query for mobile or small device started  */
@media screen and (max-width: 576px) {
  header {
    padding: 20px 5px;
  }
  header nav {
    display: f;
    flex-direction: column;
  }
  header nav .nav-logo-container {
    justify-content: center;
    align-items: center;
  }
  header nav ul {
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
  }
  header nav ul li {
    justify-content: center;
    align-items: center;
    margin-right: 0px;
  }
  header nav ul li a {
    margin-bottom: 0px;
    margin-right: 0px;
  }
  header nav ul li .home {
    margin-bottom: 0px;
    margin-right: 0px;
  }
  header nav ul li a:hover {
    margin-bottom: 0px;
    margin-right: 0px;
  }
  header nav .nav-logo-icon {
    justify-content: center;
  }
  .sign-in-formality {
    background-color: #F4F4F4;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .sign-in-formality .sign-in-part {
    display: inline-flex;
    flex-direction: column;
    align-items: center;
  }
  .sign-in-formality label {
    margin: 10px;
  }
  .sign-in-formality label input {
    padding: 10px 20px;
  }
  .sign-in-formality .optional-part {
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .sign-in-formality .optional-part p {
    text-align: center;
    color: #C3B212;
  }
  .sign-in-formality .btn-primary {
    font-size: 1rem;
    padding: 10px 10px;
    border: 2px solid black;
    border-radius: 10px;
    background-color: white;
    color: black;
    font-weight: 700;
    text-transform: capitalize;
    margin-bottom: 20px;
  }
  .sign-in-formality .btn-primary:hover {
    font-size: 1rem;
    padding: 10px 10px;
    border: 2px solid black;
    border-radius: 10px;
    background-color: gray;
    color: white;
    font-weight: 700;
    transition: all 2s ease-in-out 0.1s;
  }
  footer .footer-container {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 10px;
    padding: 0px;
  }
  footer .footer-container .footer-container-1 {
    border: 2px solid black;
    padding: 0px;
    border-radius: 10px;
  }
  footer .footer-container .footer-container-1 h1 {
    text-align: center;
    border-bottom: 2px dashed black;
  }
  footer .footer-container .footer-container-1 p {
    text-align: center;
  }
  footer .footer-container .footer-container-2 {
    border: 2px solid black;
    padding: 0px;
    border-radius: 10px;
  }
  footer .footer-container .footer-container-2 h1 {
    text-align: center;
    border-bottom: 2px dashed black;
  }
  footer .footer-container .footer-container-2 p {
    text-align: center;
  }
  footer .footer-container .footer-container-3 {
    border: 2px solid black;
    padding: 0px;
    border-radius: 10px;
  }
  footer .footer-container .footer-container-3 h1 {
    text-align: center;
    border-bottom: 2px dashed black;
  }
  footer .footer-container .footer-container-3 p {
    text-align: center;
  }
  footer .footer-container .footer-container-4 {
    border: 2px solid black;
    padding: 0px;
    border-radius: 10px;
  }
  footer .footer-container .footer-container-4 h1 {
    text-align: center;
    border-bottom: 2px dashed black;
  }
  footer .footer-container .footer-container-4 p {
    text-align: center;
  }
}
/* media query for tablet or medium device started*/
@media screen and (min-width: 576px) and (max-width: 992px) {
  header {
    padding: 20px 10px;
  }
  header nav {
    flex-direction: column;
  }
  header nav .nav-logo-container {
    justify-content: center;
    align-items: center;
  }
  header nav ul {
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
  }
  header nav ul li {
    justify-content: center;
    align-items: center;
    margin-right: 0px;
  }
  header nav ul li a {
    margin-bottom: 0px;
    margin-right: 0px;
    font-size: 1.2rem;
  }
  header nav .nav-logo-icon {
    justify-content: center;
  }
  .sign-in-formality {
    background-color: #F4F4F4;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .sign-in-formality .sign-in-part {
    display: inline-flex;
    flex-direction: column;
    align-items: center;
  }
  .sign-in-formality label {
    margin: 20px;
  }
  .sign-in-formality label input {
    padding: 20px 40px;
  }
  .sign-in-formality .optional-part {
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .sign-in-formality .optional-part p {
    text-align: center;
    color: #C3B212;
  }
  .sign-in-formality .btn-primary {
    font-size: 1.5rem;
    padding: 10px 15px;
    border: 2px solid black;
    border-radius: 10px;
    background-color: white;
    color: black;
    font-weight: 700;
    text-transform: capitalize;
    margin-bottom: 20px;
  }
  .sign-in-formality .btn-primary:hover {
    font-size: 1.5rem;
    padding: 10px 15px;
    border: 2px solid black;
    border-radius: 10px;
    background-color: gray;
    color: white;
    font-weight: 700;
    transition: all 2s ease-in-out 0.1s;
  }
  footer .footer-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 15px;
    border: 2px solid black;
    padding: 10px;
    border-radius: 10px;
  }
  footer .footer-container .footer-container-1 {
    border: 2px solid black;
    padding: 5px;
    border-radius: 10px;
  }
  footer .footer-container .footer-container-1 h1 {
    text-align: center;
    border-bottom: 2px dashed black;
  }
  footer .footer-container .footer-container-1 p {
    text-align: center;
  }
  footer .footer-container .footer-container-2 {
    border: 2px solid black;
    padding: 5px;
    border-radius: 10px;
  }
  footer .footer-container .footer-container-2 h1 {
    text-align: center;
    border-bottom: 2px dashed black;
  }
  footer .footer-container .footer-container-2 p {
    text-align: center;
  }
  footer .footer-container .footer-container-3 {
    border: 2px solid black;
    padding: 5px;
    border-radius: 10px;
  }
  footer .footer-container .footer-container-3 h1 {
    text-align: center;
    border-bottom: 2px dashed black;
  }
  footer .footer-container .footer-container-3 p {
    text-align: center;
  }
  footer .footer-container .footer-container-4 {
    border: 2px solid black;
    padding: 5px;
    border-radius: 10px;
  }
  footer .footer-container .footer-container-4 h1 {
    text-align: center;
    border-bottom: 2px dashed black;
  }
  footer .footer-container .footer-container-4 p {
    text-align: center;
  }
}
/* media query for large device started*/
@media screen and (min-width: 992px) and (max-width: 1400px) {
  nav {
    justify-content: space-evenly;
  }
  nav ul {
    justify-content: space-around;
    align-items: center;
  }
  nav ul li {
    justify-content: center;
    align-items: center;
  }
  nav ul li a {
    font-size: 1.5rem;
  }
  .sign-in-formality {
    background-color: #F4F4F4;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .sign-in-formality .sign-in-part {
    display: inline-flex;
    flex-direction: column;
    align-items: center;
  }
  .sign-in-formality label {
    margin: 20px;
  }
  .sign-in-formality label input {
    padding: 20px 40px;
  }
  .sign-in-formality .optional-part {
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .sign-in-formality .optional-part p {
    text-align: center;
    color: #C3B212;
  }
  .sign-in-formality .btn-primary {
    font-size: 1.5rem;
    padding: 10px 15px;
    border: 2px solid black;
    border-radius: 10px;
    background-color: white;
    color: black;
    font-weight: 700;
    text-transform: capitalize;
    margin-bottom: 20px;
  }
  .sign-in-formality .btn-primary:hover {
    font-size: 1.5rem;
    padding: 10px 15px;
    border: 2px solid black;
    border-radius: 10px;
    background-color: gray;
    color: white;
    font-weight: 700;
    transition: all 2s ease-in-out 0.1s;
  }
  footer .footer-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    border: 2px solid black;
    padding: 10px;
    border-radius: 10px;
  }
  footer .footer-container .footer-container-1 {
    border: 2px solid black;
    padding: 5px;
    border-radius: 10px;
  }
  footer .footer-container .footer-container-1 h1 {
    text-align: center;
    border-bottom: 2px dashed black;
  }
  footer .footer-container .footer-container-1 p {
    text-align: center;
  }
  footer .footer-container .footer-container-2 {
    border: 2px solid black;
    padding: 5px;
    border-radius: 10px;
  }
  footer .footer-container .footer-container-2 h1 {
    text-align: center;
    border-bottom: 2px dashed black;
  }
  footer .footer-container .footer-container-2 p {
    text-align: center;
  }
  footer .footer-container .footer-container-3 {
    border: 2px solid black;
    padding: 5px;
    border-radius: 10px;
  }
  footer .footer-container .footer-container-3 h1 {
    text-align: center;
    border-bottom: 2px dashed black;
  }
  footer .footer-container .footer-container-3 p {
    text-align: center;
  }
  footer .footer-container .footer-container-4 {
    border: 2px solid black;
    padding: 5px;
    border-radius: 10px;
  }
  footer .footer-container .footer-container-4 h1 {
    text-align: center;
    border-bottom: 2px dashed black;
  }
  footer .footer-container .footer-container-4 p {
    text-align: center;
  }
}
/* media query for extra large device started*/
@media screen and (min-width: 1400px) {
  nav {
    justify-content: space-evenly;
  }
  nav ul {
    justify-content: space-around;
    align-items: center;
  }
  nav ul li {
    justify-content: center;
    align-items: center;
  }
  nav ul li a {
    font-size: 1.5rem;
  }
  .sign-in-formality {
    background-color: #F4F4F4;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .sign-in-formality .sign-in-part {
    display: inline-flex;
    flex-direction: column;
    align-items: center;
  }
  .sign-in-formality label {
    margin: 20px;
  }
  .sign-in-formality label input {
    padding: 20px 40px;
  }
  .sign-in-formality .optional-part {
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .sign-in-formality .optional-part p {
    text-align: center;
    color: #C3B212;
  }
  .sign-in-formality .btn-primary {
    font-size: 1.5rem;
    padding: 10px 15px;
    border: 2px solid black;
    border-radius: 10px;
    background-color: white;
    color: black;
    font-weight: 700;
    text-transform: capitalize;
    margin-bottom: 20px;
  }
  .sign-in-formality .btn-primary:hover {
    font-size: 1.5rem;
    padding: 10px 15px;
    border: 2px solid black;
    border-radius: 10px;
    background-color: gray;
    color: white;
    font-weight: 700;
    transition: all 2s ease-in-out 0.1s;
  }
  footer .footer-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    border: 2px solid black;
    padding: 10px;
    border-radius: 10px;
  }
  footer .footer-container .footer-container-1 {
    border: 2px solid black;
    padding: 5px;
    border-radius: 10px;
  }
  footer .footer-container .footer-container-1 h1 {
    text-align: center;
    border-bottom: 2px dashed black;
  }
  footer .footer-container .footer-container-1 p {
    text-align: center;
  }
  footer .footer-container .footer-container-2 {
    border: 2px solid black;
    padding: 5px;
    border-radius: 10px;
  }
  footer .footer-container .footer-container-2 h1 {
    text-align: center;
    border-bottom: 2px dashed black;
  }
  footer .footer-container .footer-container-2 p {
    text-align: center;
  }
  footer .footer-container .footer-container-3 {
    border: 2px solid black;
    padding: 5px;
    border-radius: 10px;
  }
  footer .footer-container .footer-container-3 h1 {
    text-align: center;
    border-bottom: 2px dashed black;
  }
  footer .footer-container .footer-container-3 p {
    text-align: center;
  }
  footer .footer-container .footer-container-4 {
    border: 2px solid black;
    padding: 5px;
    border-radius: 10px;
  }
  footer .footer-container .footer-container-4 h1 {
    text-align: center;
    border-bottom: 2px dashed black;
  }
  footer .footer-container .footer-container-4 p {
    text-align: center;
  }
}/*# sourceMappingURL=account.css.map */