* {
  padding: 0px;
  font-family: Montserrat;
}

/* header section started   */
header {
  background-color: white;
  padding: 30px 30px;
}
header nav {
  display: flex;
  justify-content: space-between;
  border-top: 2px double black;
  border-bottom: 2px dotted black;
}
header nav .nav-logo-container {
  display: flex;
}
header nav .nav-logo-container h1 {
  font-size: 3rem;
  font-weight: 700;
  color: #131313;
}
header nav ul {
  display: flex;
  align-items: center;
}
header nav ul li {
  list-style-type: none;
  margin-right: 30px;
  font-weight: 500;
  font-size: 1rem;
}
header nav ul li a {
  text-decoration: none;
  font-size: 1rem;
  margin-right: 50px;
  margin-bottom: 20px;
  border-bottom: 1px solid black;
  border-top: 1px solid black;
  padding: 10px 5px;
  border-radius: 8px;
  color: #000;
  cursor: pointer;
}
header nav ul li .home {
  text-decoration: none;
  font-size: 1rem;
  margin-right: 50px;
  margin-bottom: 20px;
  border-bottom: 1px solid black;
  border-top: 1px solid white;
  padding: 10px 5px;
  border-radius: 8px;
  color: black;
  background-color: white;
}
header nav ul li a:hover {
  text-decoration: none;
  font-size: 1rem;
  margin-right: 50px;
  margin-bottom: 20px;
  border-bottom: 1px solid black;
  padding: 10px 5px;
  border-radius: 8px;
  color: white;
  background-color: #000;
  transition: all 2s ease-in-out 0.1s;
}
header nav .nav-logo-icon {
  display: flex;
  align-items: center;
  padding: 20px 0px;
}
header nav .nav-logo-icon .btn-primary {
  font-size: 1rem;
  padding: 10px 15px;
  border: 2px solid black;
  border-radius: 10px;
  background-color: black;
  color: white;
  font-weight: 700;
  text-transform: capitalize;
  padding-right: 15px;
  margin-right: 40px;
}
header nav .nav-logo-icon .btn-primary a {
  color: white;
  text-decoration: none;
}
header nav .nav-logo-icon .btn-primary:hover {
  font-size: 1rem;
  padding: 10px 15px;
  border: 2px solid black;
  border-radius: 30px;
  background-color: gray;
  color: white;
  font-weight: 700;
  transition: all 2s ease-in-out 0.1s;
  padding-right: 15px;
}
header nav .nav-logo-icon i {
  font-size: 2rem;
  padding: 5px 20px;
}
header nav .nav-logo-icon i:hover {
  color: white;
  background-color: black;
  border-radius: 8px;
  transition: all 2s ease-in-out 0.1s;
}

/* header section ended  */
/* main section start  */
main {
  margin: 30px 20px;
}
main .img-container {
  display: flex;
}
main .img-container .img-picture {
  width: 50%;
}
main .img-container .img-picture img {
  width: 100%;
  height: 700px;
  border-radius: 10px;
}
main .img-container .img-content {
  margin-left: 100px;
}
main .img-container .img-content h3 {
  color: #282828;
  font-family: Prosto One;
  font-size: 2.2rem;
  font-weight: 400;
}
main .img-container .img-content p {
  color: #282828;
  font-family: Montserrat;
  font-size: 1rem;
  font-weight: 400;
}
main .img-container .img-content .img-content-origin {
  display: flex;
  gap: 50px;
}
main .img-container .img-content .img-content-origin i {
  margin-right: 10px;
  font-size: 1rem;
}
main .img-container .img-content .img-content-bag {
  display: flex;
  gap: 20px;
  justify-content: flex-start;
}
main .img-container .img-content .img-content-bag .img-content-bag-1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
main .img-container .img-content .img-content-bag .img-content-bag-1 i {
  font-size: 2.5rem;
}
main .img-container .img-content .img-content-bag .img-content-bag-2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
main .img-container .img-content .img-content-bag .img-content-bag-2 i {
  font-size: 2.5rem;
}
main .img-container .img-content .img-content-bag .img-content-bag-3 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
main .img-container .img-content .img-content-bag .img-content-bag-3 i {
  font-size: 2.5rem;
}
main .img-container .img-content .img-content-bag .img-content-bag-4 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
main .img-container .img-content .img-content-bag .img-content-bag-4 i {
  font-size: 2.5rem;
}
main .img-container .img-content .img-content-bag .img-content-bag-5 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
main .img-container .img-content .img-content-bag .img-content-bag-5 i {
  font-size: 2.5rem;
}
main .img-container .img-content .img-content-bag .img-content-bag-6 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
main .img-container .img-content .img-content-bag .img-content-bag-6 i {
  font-size: 2.5rem;
}
main .img-container .img-content .img-content-btn {
  display: flex;
  margin-top: 30px;
}
main .img-container .img-content .img-content-btn .quantity {
  margin-right: 50px;
}
main .img-container .img-content .img-content-btn .btn-primary {
  font-size: 1rem;
  padding: 10px 15px;
  border: 2px solid black;
  border-radius: 10px;
  background-color: black;
  color: white;
  font-weight: 700;
  text-transform: capitalize;
  padding-right: 15px;
  margin-right: 40px;
}
main .img-container .img-content .img-content-btn .btn-primary a {
  text-decoration: none;
  color: white;
}
main .img-container .img-content .img-content-btn .btn-primary i {
  margin-right: 50px;
}
main .img-container .img-content .img-content-btn .btn-primary:hover {
  font-size: 1rem;
  padding: 10px 15px;
  border: 2px solid black;
  border-radius: 30px;
  background-color: gray;
  color: white;
  font-weight: 700;
  transition: all 2s ease-in-out 0.1s;
  padding-right: 15px;
}
main .about {
  display: flex;
  justify-content: space-between;
  background-color: #F4F4F4;
  border-radius: 10px;
  margin: 50px auto;
}
main .about .about-steeping {
  margin-left: 50px;
  margin-top: 50px;
  margin-bottom: 50px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  background-color: rgb(235, 232, 232);
  border-radius: 10px;
  padding: 50px;
}
main .about .about-steeping h1 {
  gap: 10px;
  color: #282828;
  font-family: Prosto One;
  font-size: 2rem;
  font-weight: 400;
}
main .about .about-steeping h4 {
  font-family: Montserrat;
  font-size: 1.2rem;
  font-style: normal;
  font-weight: 500;
}
main .about .about-this-tea {
  margin-right: 50px;
  margin-top: 50px;
  margin-bottom: 50px;
  background-color: rgb(235, 232, 232);
  border-radius: 10px;
  padding: 50px;
  gap: 50px;
}
main .about .about-this-tea h1 {
  color: #282828;
  font-family: Prosto One;
  font-size: 2rem;
  font-weight: 400;
}
main .about .about-this-tea .quality {
  display: flex;
  justify-content: flex-start;
  gap: 50px;
}
main .about .about-this-tea .quality .quality-1 {
  border-right: 2px solid black;
}
main .about .about-this-tea .quality .quality-1 h3,
main .about .about-this-tea .quality .quality-1 h4 {
  padding-right: 30px;
}
main .about .about-this-tea .quality .quality-2 {
  border-right: 2px solid black;
}
main .about .about-this-tea .quality .quality-2 h3,
main .about .about-this-tea .quality .quality-2 h4 {
  padding-right: 30px;
}
main .about .about-this-tea .quality .quality-3 {
  border-right: 2px solid black;
}
main .about .about-this-tea .quality .quality-3 h3,
main .about .about-this-tea .quality .quality-3 h4 {
  padding-right: 30px;
}
main .about .about-this-tea h1 {
  color: #282828;
  font-family: Prosto One;
  font-size: 2rem;
  font-weight: 400;
}
main .about .about-this-tea h5 {
  color: #282828;
  font-family: Montserrat;
  font-size: 14px;
  font-weight: 400;
}
main .our-collection {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
main .our-collection h1 {
  font-family: Prosto One;
  text-align: center;
  font-size: 2rem;
  font-weight: 900;
  text-transform: capitalize;
  margin: 50px 20px;
  padding: 10px 20px;
  border-radius: 10px;
  background-color: #e5e2e2;
  border: 2px solid black;
}
main .our-collection h1:hover {
  font-family: Prosto One;
  text-align: center;
  font-size: 2rem;
  font-weight: 900;
  text-transform: capitalize;
  margin: 50px 20px;
  padding: 10px 20px;
  border-radius: 10px;
  color: white;
  background-color: black;
  border: 2px solid black;
  transition: all 2s ease-in-out 0s;
}
main .our-collection .card-collection {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
}
main .our-collection .card-collection .card-content {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding-top: 5px;
  padding-right: 5px;
  padding-left: 5px;
  margin-bottom: 20px;
}
main .our-collection .card-collection .card-content a {
  text-decoration: none;
  color: white;
}
main .our-collection .card-collection .card-content img {
  width: 100%;
  border-radius: 10px;
}
main .our-collection .card-collection .card-content h4 {
  text-transform: uppercase;
  color: #282828;
  text-align: center;
  font-family: Prosto One;
  font-size: 1rem;
  font-weight: 500;
}

/* main section end  */
/*footer section start*/
footer .footer-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  background-color: rgb(228, 225, 225);
}
footer .footer-container .footer-container-1 {
  border: 2px solid black;
  padding: 5px;
  border-radius: 10px;
  background-color: white;
}
footer .footer-container .footer-container-1 h1 {
  text-align: center;
  border-bottom: 2px dashed black;
}
footer .footer-container .footer-container-1 p {
  text-align: center;
}
footer .footer-container .footer-container-2 {
  border: 2px solid black;
  padding: 5px;
  border-radius: 10px;
  background-color: white;
}
footer .footer-container .footer-container-2 h1 {
  text-align: center;
  border-bottom: 2px dashed black;
}
footer .footer-container .footer-container-2 p {
  text-align: center;
}
footer .footer-container .footer-container-3 {
  border: 2px solid black;
  padding: 5px;
  border-radius: 10px;
  background-color: white;
}
footer .footer-container .footer-container-3 h1 {
  text-align: center;
  border-bottom: 2px dashed black;
}
footer .footer-container .footer-container-3 p {
  text-align: center;
}
footer .footer-container .footer-container-4 {
  border: 2px solid black;
  padding: 5px;
  border-radius: 10px;
  background-color: white;
}
footer .footer-container .footer-container-4 h1 {
  text-align: center;
  border-bottom: 2px dashed black;
}
footer .footer-container .footer-container-4 p {
  text-align: center;
}
/*footer section end*/
/* media query started  */
/* media query for mobile or small device started  */
@media screen and (max-width: 576px) {
  header {
    padding: 20px 5px;
  }
  header nav {
    display: f;
    flex-direction: column;
  }
  header nav .nav-logo-container {
    justify-content: center;
    align-items: center;
  }
  header nav ul {
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
  }
  header nav ul li {
    justify-content: center;
    align-items: center;
    margin-right: 0px;
  }
  header nav ul li a {
    margin-bottom: 0px;
    margin-right: 0px;
  }
  header nav ul li .home {
    margin-bottom: 0px;
    margin-right: 0px;
  }
  header nav ul li a:hover {
    margin-bottom: 0px;
    margin-right: 0px;
  }
  header nav .nav-logo-icon {
    justify-content: center;
  }
  header nav .nav-logo-icon .btn-primary1 {
    display: none;
  }
  header nav .nav-logo-icon .btn-primary1:hover {
    display: none;
  }
  main {
    margin: 10px 10px;
  }
  main .img-container {
    display: flex;
    flex-direction: column;
  }
  main .img-container .img-picture {
    width: 100%;
  }
  main .img-container .img-picture img {
    width: 100%;
    height: 700px;
    border-radius: 10px;
  }
  main .img-container .img-content {
    margin-left: 0px;
  }
  main .img-container .img-content h3 {
    color: #282828;
    font-family: Prosto One;
    font-size: 2.2rem;
    font-weight: 400;
  }
  main .img-container .img-content p {
    color: #282828;
    font-family: Montserrat;
    font-size: 1rem;
    font-weight: 400;
  }
  main .img-container .img-content .img-content-origin {
    display: flex;
    gap: 50px;
  }
  main .img-container .img-content .img-content-origin i {
    margin-right: 10px;
    font-size: 1rem;
  }
  main .img-container .img-content .img-content-bag {
    display: flex;
    gap: 20px;
    justify-content: flex-start;
  }
  main .img-container .img-content .img-content-bag .img-content-bag-1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  main .img-container .img-content .img-content-bag .img-content-bag-1 i {
    font-size: 2.5rem;
  }
  main .img-container .img-content .img-content-bag .img-content-bag-2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  main .img-container .img-content .img-content-bag .img-content-bag-2 i {
    font-size: 2.5rem;
  }
  main .img-container .img-content .img-content-bag .img-content-bag-3 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  main .img-container .img-content .img-content-bag .img-content-bag-3 i {
    font-size: 2.5rem;
  }
  main .img-container .img-content .img-content-bag .img-content-bag-4 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  main .img-container .img-content .img-content-bag .img-content-bag-4 i {
    font-size: 2.5rem;
  }
  main .img-container .img-content .img-content-bag .img-content-bag-5 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  main .img-container .img-content .img-content-bag .img-content-bag-5 i {
    font-size: 2.5rem;
  }
  main .img-container .img-content .img-content-bag .img-content-bag-6 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  main .img-container .img-content .img-content-bag .img-content-bag-6 i {
    font-size: 2.5rem;
  }
  main .img-container .img-content .img-content-btn {
    display: flex;
    margin-top: 30px;
  }
  main .img-container .img-content .img-content-btn .quantity {
    margin-right: 50px;
  }
  main .img-container .img-content .img-content-btn .btn-primary {
    font-size: 1rem;
    padding: 10px 15px;
    border: 2px solid black;
    border-radius: 10px;
    background-color: black;
    color: white;
    font-weight: 700;
    text-transform: capitalize;
    padding-right: 15px;
    margin-right: 40px;
  }
  main .img-container .img-content .img-content-btn .btn-primary i {
    margin-right: 50px;
  }
  main .img-container .img-content .img-content-btn .btn-primary:hover {
    font-size: 1rem;
    padding: 10px 15px;
    border: 2px solid black;
    border-radius: 30px;
    background-color: gray;
    color: white;
    font-weight: 700;
    transition: all 2s ease-in-out 0.1s;
    padding-right: 15px;
  }
  main .about {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #F4F4F4;
    border-radius: 10px;
    margin: 70px auto;
  }
  main .about .about-steeping {
    margin: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    background-color: rgb(235, 232, 232);
    border-radius: 10px;
    padding: 20px;
  }
  main .about .about-steeping h1 {
    gap: 10px;
    color: #282828;
    font-family: Prosto One;
    font-size: 2rem;
    font-weight: 400;
  }
  main .about .about-steeping h4 {
    font-family: Montserrat;
    font-size: 1.2rem;
    font-style: normal;
    font-weight: 500;
  }
  main .about .about-this-tea {
    margin: 20px;
    background-color: rgb(235, 232, 232);
    border-radius: 10px;
    padding: 20px;
    gap: 50px;
  }
  main .about .about-this-tea h1 {
    color: #282828;
    font-family: Prosto One;
    font-size: 2rem;
    font-weight: 400;
  }
  main .about .about-this-tea .quality {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 50px;
  }
  main .about .about-this-tea .quality .quality-1 {
    border-right: 2px solid black;
  }
  main .about .about-this-tea .quality .quality-1 h3,
  main .about .about-this-tea .quality .quality-1 h4 {
    padding-right: 20px;
  }
  main .about .about-this-tea .quality .quality-2 {
    border-right: none;
  }
  main .about .about-this-tea .quality .quality-2 h3,
  main .about .about-this-tea .quality .quality-2 h4 {
    padding-right: 20px;
  }
  main .about .about-this-tea .quality .quality-3 {
    border-right: 2px solid black;
  }
  main .about .about-this-tea .quality .quality-3 h3,
  main .about .about-this-tea .quality .quality-3 h4 {
    padding-right: 20px;
  }
  main .about .about-this-tea h1 {
    color: #282828;
    font-family: Prosto One;
    font-size: 2rem;
    font-weight: 400;
  }
  main .about .about-this-tea h5 {
    color: #282828;
    font-family: Montserrat;
    font-size: 14px;
    font-weight: 400;
  }
  footer .footer-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    padding: 0px;
  }
  footer .footer-container .footer-container-1 {
    border: 2px solid black;
    padding: 0px;
    border-radius: 10px;
  }
  footer .footer-container .footer-container-1 h1 {
    text-align: center;
    border-bottom: 2px dashed black;
  }
  footer .footer-container .footer-container-1 p {
    text-align: center;
  }
  footer .footer-container .footer-container-2 {
    border: 2px solid black;
    padding: 0px;
    border-radius: 10px;
  }
  footer .footer-container .footer-container-2 h1 {
    text-align: center;
    border-bottom: 2px dashed black;
  }
  footer .footer-container .footer-container-2 p {
    text-align: center;
  }
  footer .footer-container .footer-container-3 {
    border: 2px solid black;
    padding: 0px;
    border-radius: 10px;
  }
  footer .footer-container .footer-container-3 h1 {
    text-align: center;
    border-bottom: 2px dashed black;
  }
  footer .footer-container .footer-container-3 p {
    text-align: center;
  }
  footer .footer-container .footer-container-4 {
    border: 2px solid black;
    padding: 0px;
    border-radius: 10px;
  }
  footer .footer-container .footer-container-4 h1 {
    text-align: center;
    border-bottom: 2px dashed black;
  }
  footer .footer-container .footer-container-4 p {
    text-align: center;
  }
}
/* media query for tablet or medium device started*/
@media screen and (min-width: 576px) and (max-width: 992px) {
  header {
    padding: 20px 10px;
  }
  header nav {
    flex-direction: column;
  }
  header nav .nav-logo-container {
    justify-content: center;
    align-items: center;
  }
  header nav ul {
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
  }
  header nav ul li {
    justify-content: center;
    align-items: center;
    margin-right: 0px;
  }
  header nav ul li a {
    margin-bottom: 0px;
    margin-right: 0px;
    font-size: 1.2rem;
  }
  header nav .nav-logo-icon {
    justify-content: center;
  }
  main {
    margin: 30px 20px;
  }
  main .img-container {
    display: flex;
    flex-direction: column;
  }
  main .img-container .img-picture {
    width: 100%;
  }
  main .img-container .img-picture img {
    width: 100%;
    height: 700px;
    border-radius: 10px;
  }
  main .img-container .img-content {
    margin-left: 100px;
  }
  main .img-container .img-content h3 {
    color: #282828;
    font-family: Prosto One;
    font-size: 2.2rem;
    font-weight: 400;
  }
  main .img-container .img-content p {
    color: #282828;
    font-family: Montserrat;
    font-size: 1rem;
    font-weight: 400;
  }
  main .img-container .img-content .img-content-origin {
    display: flex;
    gap: 50px;
  }
  main .img-container .img-content .img-content-origin i {
    margin-right: 10px;
    font-size: 1rem;
  }
  main .img-container .img-content .img-content-bag {
    display: flex;
    gap: 20px;
    justify-content: flex-start;
  }
  main .img-container .img-content .img-content-bag .img-content-bag-1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  main .img-container .img-content .img-content-bag .img-content-bag-1 i {
    font-size: 2.5rem;
  }
  main .img-container .img-content .img-content-bag .img-content-bag-2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  main .img-container .img-content .img-content-bag .img-content-bag-2 i {
    font-size: 2.5rem;
  }
  main .img-container .img-content .img-content-bag .img-content-bag-3 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  main .img-container .img-content .img-content-bag .img-content-bag-3 i {
    font-size: 2.5rem;
  }
  main .img-container .img-content .img-content-bag .img-content-bag-4 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  main .img-container .img-content .img-content-bag .img-content-bag-4 i {
    font-size: 2.5rem;
  }
  main .img-container .img-content .img-content-bag .img-content-bag-5 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  main .img-container .img-content .img-content-bag .img-content-bag-5 i {
    font-size: 2.5rem;
  }
  main .img-container .img-content .img-content-bag .img-content-bag-6 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  main .img-container .img-content .img-content-bag .img-content-bag-6 i {
    font-size: 2.5rem;
  }
  main .img-container .img-content .img-content-btn {
    display: flex;
    margin-top: 30px;
  }
  main .img-container .img-content .img-content-btn .quantity {
    margin-right: 50px;
  }
  main .img-container .img-content .img-content-btn .btn-primary {
    font-size: 1rem;
    padding: 10px 15px;
    border: 2px solid black;
    border-radius: 10px;
    background-color: black;
    color: white;
    font-weight: 700;
    text-transform: capitalize;
    padding-right: 15px;
    margin-right: 40px;
  }
  main .img-container .img-content .img-content-btn .btn-primary i {
    margin-right: 50px;
  }
  main .img-container .img-content .img-content-btn .btn-primary:hover {
    font-size: 1rem;
    padding: 10px 15px;
    border: 2px solid black;
    border-radius: 30px;
    background-color: gray;
    color: white;
    font-weight: 700;
    transition: all 2s ease-in-out 0.1s;
    padding-right: 15px;
  }
  main .about {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #F4F4F4;
    border-radius: 10px;
    margin: 70px auto;
  }
  main .about .about-steeping {
    margin: 50px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    background-color: rgb(235, 232, 232);
    border-radius: 10px;
    padding: 50px;
  }
  main .about .about-steeping h1 {
    gap: 10px;
    color: #282828;
    font-family: Prosto One;
    font-size: 2rem;
    font-weight: 400;
  }
  main .about .about-steeping h4 {
    font-family: Montserrat;
    font-size: 1.2rem;
    font-style: normal;
    font-weight: 500;
  }
  main .about .about-this-tea {
    margin: 50px;
    background-color: rgb(235, 232, 232);
    border-radius: 10px;
    padding: 50px;
    gap: 50px;
  }
  main .about .about-this-tea h1 {
    color: #282828;
    font-family: Prosto One;
    font-size: 2rem;
    font-weight: 400;
  }
  main .about .about-this-tea .quality {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 50px;
  }
  main .about .about-this-tea .quality .quality-1 {
    border-right: 2px solid black;
  }
  main .about .about-this-tea .quality .quality-1 h3,
  main .about .about-this-tea .quality .quality-1 h4 {
    padding-right: 30px;
  }
  main .about .about-this-tea .quality .quality-2 {
    border-right: none;
  }
  main .about .about-this-tea .quality .quality-2 h3,
  main .about .about-this-tea .quality .quality-2 h4 {
    padding-right: 30px;
  }
  main .about .about-this-tea .quality .quality-3 {
    border-right: 2px solid black;
  }
  main .about .about-this-tea .quality .quality-3 h3,
  main .about .about-this-tea .quality .quality-3 h4 {
    padding-right: 30px;
  }
  main .about .about-this-tea h1 {
    color: #282828;
    font-family: Prosto One;
    font-size: 2rem;
    font-weight: 400;
  }
  main .about .about-this-tea h5 {
    color: #282828;
    font-family: Montserrat;
    font-size: 14px;
    font-weight: 400;
  }
  footer .footer-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    border: 2px solid black;
    padding: 10px;
    border-radius: 10px;
  }
  footer .footer-container .footer-container-1 {
    border: 2px solid black;
    padding: 5px;
    border-radius: 10px;
  }
  footer .footer-container .footer-container-1 h1 {
    text-align: center;
    border-bottom: 2px dashed black;
  }
  footer .footer-container .footer-container-1 p {
    text-align: center;
  }
  footer .footer-container .footer-container-2 {
    border: 2px solid black;
    padding: 5px;
    border-radius: 10px;
  }
  footer .footer-container .footer-container-2 h1 {
    text-align: center;
    border-bottom: 2px dashed black;
  }
  footer .footer-container .footer-container-2 p {
    text-align: center;
  }
  footer .footer-container .footer-container-3 {
    border: 2px solid black;
    padding: 5px;
    border-radius: 10px;
  }
  footer .footer-container .footer-container-3 h1 {
    text-align: center;
    border-bottom: 2px dashed black;
  }
  footer .footer-container .footer-container-3 p {
    text-align: center;
  }
  footer .footer-container .footer-container-4 {
    border: 2px solid black;
    padding: 5px;
    border-radius: 10px;
  }
  footer .footer-container .footer-container-4 h1 {
    text-align: center;
    border-bottom: 2px dashed black;
  }
  footer .footer-container .footer-container-4 p {
    text-align: center;
  }
}
/* media query for large device started*/
@media screen and (min-width: 992px) and (max-width: 1400px) {
  nav {
    justify-content: space-evenly;
  }
  nav ul {
    justify-content: space-around;
    align-items: center;
  }
  nav ul li {
    justify-content: center;
    align-items: center;
  }
  nav ul li a {
    font-size: 1.5rem;
  }
  main {
    margin: 30px 20px;
  }
  main .img-container {
    display: flex;
  }
  main .img-container .img-picture {
    width: 50%;
  }
  main .img-container .img-picture img {
    width: 100%;
    height: 700px;
    border-radius: 10px;
  }
  main .img-container .img-content {
    margin-left: 100px;
  }
  main .img-container .img-content h3 {
    color: #282828;
    font-family: Prosto One;
    font-size: 2.2rem;
    font-weight: 400;
  }
  main .img-container .img-content p {
    color: #282828;
    font-family: Montserrat;
    font-size: 1rem;
    font-weight: 400;
  }
  main .img-container .img-content .img-content-origin {
    display: flex;
    gap: 50px;
  }
  main .img-container .img-content .img-content-origin i {
    margin-right: 10px;
    font-size: 1rem;
  }
  main .img-container .img-content .img-content-bag {
    display: flex;
    gap: 20px;
    justify-content: flex-start;
  }
  main .img-container .img-content .img-content-bag .img-content-bag-1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  main .img-container .img-content .img-content-bag .img-content-bag-1 i {
    font-size: 2.5rem;
  }
  main .img-container .img-content .img-content-bag .img-content-bag-2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  main .img-container .img-content .img-content-bag .img-content-bag-2 i {
    font-size: 2.5rem;
  }
  main .img-container .img-content .img-content-bag .img-content-bag-3 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  main .img-container .img-content .img-content-bag .img-content-bag-3 i {
    font-size: 2.5rem;
  }
  main .img-container .img-content .img-content-bag .img-content-bag-4 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  main .img-container .img-content .img-content-bag .img-content-bag-4 i {
    font-size: 2.5rem;
  }
  main .img-container .img-content .img-content-bag .img-content-bag-5 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  main .img-container .img-content .img-content-bag .img-content-bag-5 i {
    font-size: 2.5rem;
  }
  main .img-container .img-content .img-content-bag .img-content-bag-6 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  main .img-container .img-content .img-content-bag .img-content-bag-6 i {
    font-size: 2.5rem;
  }
  main .img-container .img-content .img-content-btn {
    display: flex;
    margin-top: 30px;
  }
  main .img-container .img-content .img-content-btn .quantity {
    margin-right: 50px;
  }
  main .img-container .img-content .img-content-btn .btn-primary {
    font-size: 1rem;
    padding: 10px 15px;
    border: 2px solid black;
    border-radius: 10px;
    background-color: black;
    color: white;
    font-weight: 700;
    text-transform: capitalize;
    padding-right: 15px;
    margin-right: 40px;
  }
  main .img-container .img-content .img-content-btn .btn-primary i {
    margin-right: 50px;
  }
  main .img-container .img-content .img-content-btn .btn-primary:hover {
    font-size: 1rem;
    padding: 10px 15px;
    border: 2px solid black;
    border-radius: 30px;
    background-color: gray;
    color: white;
    font-weight: 700;
    transition: all 2s ease-in-out 0.1s;
    padding-right: 15px;
  }
  footer .footer-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    border: 2px solid black;
    padding: 10px;
    border-radius: 10px;
  }
  footer .footer-container .footer-container-1 {
    border: 2px solid black;
    padding: 5px;
    border-radius: 10px;
  }
  footer .footer-container .footer-container-1 h1 {
    text-align: center;
    border-bottom: 2px dashed black;
  }
  footer .footer-container .footer-container-1 p {
    text-align: center;
  }
  footer .footer-container .footer-container-2 {
    border: 2px solid black;
    padding: 5px;
    border-radius: 10px;
  }
  footer .footer-container .footer-container-2 h1 {
    text-align: center;
    border-bottom: 2px dashed black;
  }
  footer .footer-container .footer-container-2 p {
    text-align: center;
  }
  footer .footer-container .footer-container-3 {
    border: 2px solid black;
    padding: 5px;
    border-radius: 10px;
  }
  footer .footer-container .footer-container-3 h1 {
    text-align: center;
    border-bottom: 2px dashed black;
  }
  footer .footer-container .footer-container-3 p {
    text-align: center;
  }
  footer .footer-container .footer-container-4 {
    border: 2px solid black;
    padding: 5px;
    border-radius: 10px;
  }
  footer .footer-container .footer-container-4 h1 {
    text-align: center;
    border-bottom: 2px dashed black;
  }
  footer .footer-container .footer-container-4 p {
    text-align: center;
  }
}
/* media query for extra large device started*/
@media screen and (min-width: 1400px) {
  nav {
    justify-content: space-evenly;
  }
  nav ul {
    justify-content: space-around;
    align-items: center;
  }
  nav ul li {
    justify-content: center;
    align-items: center;
  }
  nav ul li a {
    font-size: 1.5rem;
  }
  main {
    margin: 30px 20px;
  }
  main .img-container {
    display: flex;
  }
  main .img-container .img-picture {
    width: 50%;
  }
  main .img-container .img-picture img {
    width: 100%;
    height: 700px;
    border-radius: 10px;
  }
  main .img-container .img-content {
    margin-left: 100px;
  }
  main .img-container .img-content h3 {
    color: #282828;
    font-family: Prosto One;
    font-size: 2.2rem;
    font-weight: 400;
  }
  main .img-container .img-content p {
    color: #282828;
    font-family: Montserrat;
    font-size: 1rem;
    font-weight: 400;
  }
  main .img-container .img-content .img-content-origin {
    display: flex;
    gap: 50px;
  }
  main .img-container .img-content .img-content-origin i {
    margin-right: 10px;
    font-size: 1rem;
  }
  main .img-container .img-content .img-content-bag {
    display: flex;
    gap: 20px;
    justify-content: flex-start;
  }
  main .img-container .img-content .img-content-bag .img-content-bag-1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  main .img-container .img-content .img-content-bag .img-content-bag-1 i {
    font-size: 2.5rem;
  }
  main .img-container .img-content .img-content-bag .img-content-bag-2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  main .img-container .img-content .img-content-bag .img-content-bag-2 i {
    font-size: 2.5rem;
  }
  main .img-container .img-content .img-content-bag .img-content-bag-3 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  main .img-container .img-content .img-content-bag .img-content-bag-3 i {
    font-size: 2.5rem;
  }
  main .img-container .img-content .img-content-bag .img-content-bag-4 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  main .img-container .img-content .img-content-bag .img-content-bag-4 i {
    font-size: 2.5rem;
  }
  main .img-container .img-content .img-content-bag .img-content-bag-5 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  main .img-container .img-content .img-content-bag .img-content-bag-5 i {
    font-size: 2.5rem;
  }
  main .img-container .img-content .img-content-bag .img-content-bag-6 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  main .img-container .img-content .img-content-bag .img-content-bag-6 i {
    font-size: 2.5rem;
  }
  main .img-container .img-content .img-content-btn {
    display: flex;
    margin-top: 30px;
  }
  main .img-container .img-content .img-content-btn .quantity {
    margin-right: 50px;
  }
  main .img-container .img-content .img-content-btn .btn-primary {
    font-size: 1rem;
    padding: 10px 15px;
    border: 2px solid black;
    border-radius: 10px;
    background-color: black;
    color: white;
    font-weight: 700;
    text-transform: capitalize;
    padding-right: 15px;
    margin-right: 40px;
  }
  main .img-container .img-content .img-content-btn .btn-primary i {
    margin-right: 50px;
  }
  main .img-container .img-content .img-content-btn .btn-primary:hover {
    font-size: 1rem;
    padding: 10px 15px;
    border: 2px solid black;
    border-radius: 30px;
    background-color: gray;
    color: white;
    font-weight: 700;
    transition: all 2s ease-in-out 0.1s;
    padding-right: 15px;
  }
  footer .footer-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    border: 2px solid black;
    padding: 10px;
    border-radius: 10px;
  }
  footer .footer-container .footer-container-1 {
    border: 2px solid black;
    padding: 5px;
    border-radius: 10px;
  }
  footer .footer-container .footer-container-1 h1 {
    text-align: center;
    border-bottom: 2px dashed black;
  }
  footer .footer-container .footer-container-1 p {
    text-align: center;
  }
  footer .footer-container .footer-container-2 {
    border: 2px solid black;
    padding: 5px;
    border-radius: 10px;
  }
  footer .footer-container .footer-container-2 h1 {
    text-align: center;
    border-bottom: 2px dashed black;
  }
  footer .footer-container .footer-container-2 p {
    text-align: center;
  }
  footer .footer-container .footer-container-3 {
    border: 2px solid black;
    padding: 5px;
    border-radius: 10px;
  }
  footer .footer-container .footer-container-3 h1 {
    text-align: center;
    border-bottom: 2px dashed black;
  }
  footer .footer-container .footer-container-3 p {
    text-align: center;
  }
  footer .footer-container .footer-container-4 {
    border: 2px solid black;
    padding: 5px;
    border-radius: 10px;
  }
  footer .footer-container .footer-container-4 h1 {
    text-align: center;
    border-bottom: 2px dashed black;
  }
  footer .footer-container .footer-container-4 p {
    text-align: center;
  }
}/*# sourceMappingURL=add-to-bag.css.map */