* {
    padding: 0px;
    font-family: Montserrat;
}

/* header section started   */
header {
    background-color: white;
    padding: 30px 30px;



    nav {
        display: flex;
        justify-content: space-between;
        border-top: 2px double black;
        border-bottom: 2px dotted black;

        .nav-logo-container {
            display: flex;

            h1 {
                font-size: 3rem;
                font-weight: 700;
                color: #131313;
            }


        }

        ul {

            display: flex;
            align-items: center;

            li {
                list-style-type: none;
                margin-right: 30px;
                font-weight: 500;
                font-size: 1rem;

                a {
                    text-decoration: none;
                    font-size: 1rem;
                    margin-right: 50px;
                    margin-bottom: 20px;
                    border-bottom: 1px solid black;
                    border-top: 1px solid black;
                    padding: 10px 5px;
                    border-radius: 8px;
                    color: #000;
                    cursor: pointer;
                }

                .home {
                    text-decoration: none;
                    font-size: 1rem;
                    margin-right: 50px;
                    margin-bottom: 20px;
                    border-bottom: 1px solid black;
                    border-top: 1px solid white;
                    padding: 10px 5px;
                    border-radius: 8px;
                    color: black;
                    background-color: white;
                }



                a:hover {
                    text-decoration: none;
                    font-size: 1rem;
                    margin-right: 50px;
                    margin-bottom: 20px;
                    border-bottom: 1px solid black;
                    padding: 10px 5px;
                    border-radius: 8px;
                    color: white;
                    background-color: #000;
                    transition: all 2s ease-in-out 0.1s;
                }
            }
        }

        .nav-logo-icon {
            display: flex;
            align-items: center;
            padding: 20px 0px;

            .btn-primary {
                font-size: 1rem;
                padding: 10px 15px;
                border: 2px solid black;
                border-radius: 10px;
                background-color: black;
                color: white;
                font-weight: 700;
                text-transform: capitalize;
                padding-right: 15px;
                margin-right: 40px;

                a {
                    color: white;
                    text-decoration: none;

                }
            }

            .btn-primary:hover {
                font-size: 1rem;
                padding: 10px 15px;
                border: 2px solid black;
                border-radius: 30px;
                background-color: gray;
                color: white;
                font-weight: 700;
                transition: all 2s ease-in-out 0.1s;
                padding-right: 15px;
            }

            i {
                font-size: 2rem;
                padding: 5px 20px;
            }

            i:hover {
                color: white;
                background-color: black;
                border-radius: 8px;
                transition: all 2s ease-in-out 0.1s;
            }
        }



    }
}

/* header section end  */




/* main section start  */
main{
    height: 600px;
    width: 100%;
    background-image: url("/slider-2.jpg");
    background-size: cover;
    display: flex;
    border-radius: 20px;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
    margin-bottom: 100px;
    .main-slider{
        height: 400px;
        width:70%;
        position: absolute;
        .slider{
            height: 400px;
            width:70vw;
            border-radius: 10px;
            animation: slider-animation 10s step-end 2s infinite normal;
            
            
        }
        @keyframes slider-animation {
           0%{
            background-image: url("/slider-1.webp");
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center;
           }
           25%{
            background-image: url("/slider-3.jpg");
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center;
           }
           50%{
            background-image: url("/slider-4.jpg");
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center;
           } 
            
           75%{
            background-image: url("/slider-6.jpg");
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center;
           } 
           100%{
            background-image: url("/slider-5.jpg");
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center;
           }           

        }
    }
    .info{
        align-self: last baseline;
        background-color: adjust-hue($color: #00000058, $degrees: 0);
        margin-bottom: 0px;
        padding: 0px;
        box-shadow: 1px 1px 0.5px white;
        p{
            color:white;
            word-spacing: 2px;
            font-size: 1.2rem;
            text-shadow: 1px 1px 5px green;
            
        }
    }
}
/* main section end  */


/* main-extra section start  */
.our-collection {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: #f4f4f4;
    margin-bottom: 100px;
    h1 {
        font-family: Prosto One;
        text-align: center;
        font-size: 2rem;
        font-weight: 900;
        text-transform: capitalize;
        margin: 50px 20px;
        padding: 10px 20px;
        border-radius: 10px;
        color:#e5e2e2 ;
        background-color:black;
        border: 2px solid black;
    }

    h1:hover {
        font-family: Prosto One;
        text-align: center;
        font-size: 2rem;
        font-weight: 900;
        text-transform: capitalize;
        margin: 50px 20px;
        padding: 10px 20px;
        border-radius: 10px;
        color: black;
        background-color: #e5e2e2;
        border: 2px solid black;
        transition: all 2s ease-in-out 0s;
    }

    .card-collection {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 10px;

        .card-content {
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            padding-top: 5px;
            padding-right: 5px;
            padding-left: 5px;
            
            margin: 20px 0px;
           
            a{
                text-decoration: none;
                color: white;
            }
            img {
                width: 100%;
                border-radius: 10px;
            }

            h4 {
                text-transform: uppercase;
                color: #282828;
                text-align: center;
                font-family: Prosto One;
                font-size: 1rem;
                font-weight: 500;

            }
        }
    }


}

.big-sale{
    width: 100%;
    img{
        width: 100%;
        
    }
}

.our-collection {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: #f4f4f4;
    margin-bottom: 100px;

    h1 {
        font-family: Prosto One;
        text-align: center;
        font-size: 2rem;
        font-weight: 900;
        text-transform: capitalize;
        margin: 50px 20px;
        padding: 10px 20px;
        border-radius: 10px;
        color:#e5e2e2 ;
        background-color:black;
        border: 2px solid black;
    }

    h1:hover {
        font-family: Prosto One;
        text-align: center;
        font-size: 2rem;
        font-weight: 900;
        text-transform: capitalize;
        margin: 50px 20px;
        padding: 10px 20px;
        border-radius: 10px;
        color: black;
        background-color: #e5e2e2;
        border: 2px solid black;
        transition: all 2s ease-in-out 0s;
    }

    .card-collection {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 10px;

        .card-content {
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            padding-top: 5px;
            padding-right: 5px;
            padding-left: 5px;
            
            margin: 20px 0px;
           
            a{
                text-decoration: none;
                color: white;
            }
            img {
                width: 100%;
                border-radius: 10px;
            }

            h4 {
                text-transform: uppercase;
                color: #282828;
                text-align: center;
                font-family: Prosto One;
                font-size: 1rem;
                font-weight: 500;

            }
        }
    }


}
/* main-extra section end  */


/*footer section start*/
footer {
    .footer-container {

        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 20px;
        background-color: rgb(228, 225, 225);

        .footer-container-1 {

            border: 2px solid black;
            padding: 5px;
            border-radius: 10px;
            background-color: white;

            h1 {
                text-align: center;
                border-bottom: 2px dashed black;
            }

            p {
                text-align: center;
            }

            .footer-container-content {}
        }

        .footer-container-2 {
            border: 2px solid black;
            padding: 5px;
            border-radius: 10px;
            background-color: white;

            h1 {
                text-align: center;
                border-bottom: 2px dashed black;
            }

            p {
                text-align: center;
            }

            .footer-container-content {}
        }

        .footer-container-3 {
            border: 2px solid black;
            padding: 5px;
            border-radius: 10px;
            background-color: white;

            h1 {
                text-align: center;
                border-bottom: 2px dashed black;
            }

            p {
                text-align: center;
            }

            .footer-container-content {}
        }

        .footer-container-4 {
            border: 2px solid black;
            padding: 5px;
            border-radius: 10px;
            background-color: white;

            h1 {
                text-align: center;
                border-bottom: 2px dashed black;

            }

            p {
                text-align: center;
            }

            .footer-container-content {}
        }
    }
}

/*footer section end*/



/* media query started  */

/* media query for mobile or small device started  */
@media screen and (max-width:576px) {
    header {
        padding: 20px 5px;

        nav {
            display: f;
            flex-direction: column;

            .nav-logo-container {
                justify-content: center;
                align-items: center;
            }

            ul {

                justify-content: space-around;
                align-items: center;
                flex-wrap: wrap;

                li {
                    justify-content: center;
                    align-items: center;
                    margin-right: 0px;

                    a {
                        margin-bottom: 0px;
                        margin-right: 0px;
                    }

                    .home {
                        margin-bottom: 0px;
                        margin-right: 0px;
                    }

                    a:hover {
                        margin-bottom: 0px;
                        margin-right: 0px;
                    }
                }

            }

            .nav-logo-icon {
                justify-content: center;

                .btn-primary1 {
                    display: none;


                }

                .btn-primary1:hover {
                    display: none;

                }
            }
        }



    }

    main{
        height: 400px;
        width: 100%;
        background-image: url("/slider-2.jpg");
        background-size: cover;
        display: flex;
        border-radius: 20px;
        justify-content: center;
        align-items: center;
        margin-top: 100px;
        margin-bottom: 100px;
        .main-slider{
            height: 400px;
            width:70%;
            position: absolute;
            .slider{
                height: 400px;
                width:70vw;
                border-radius: 10px;
                animation: slider-animation 10s step-end 2s infinite normal;
                
                
            }
            @keyframes slider-animation {
               0%{
                background-image: url("/slider-1.webp");
                background-repeat: no-repeat;
                background-size: contain;
                background-position: center;
                border-radius: 10px;
               }
               25%{
                background-image: url("/slider-3.jpg");
                background-repeat: no-repeat;
                background-size: contain;
                background-position: center;
                border-radius: 10px;
               }
               50%{
                background-image: url("/slider-4.jpg");
                background-repeat: no-repeat;
                background-size: contain;
                background-position: center;
                border-radius: 10px;
               } 
                
               75%{
                background-image: url("/slider-6.jpg");
                background-repeat: no-repeat;
                background-size: contain;
                background-position: center;
                border-radius: 10px;
               } 
               100%{
                background-image: url("/slider-5.jpg");
                background-repeat: no-repeat;
                background-size: contain;
                background-position: center;
                border-radius: 10px;
               }           
    
            }
        }
        .info{
            display: none;
            align-self: last baseline;
            background-color: adjust-hue($color: #00000058, $degrees: 0);
            margin-bottom: 0px;
            padding: 0px;
            box-shadow: 1px 1px 0.5px white;
            p{
                color:white;
                word-spacing: 2px;
                font-size: 1.2rem;
                text-shadow: 1px 1px 5px green;
                
            }
        }
    }


    footer {
        .footer-container {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            gap: 10px;
            padding: 0px;

            .footer-container-1 {
                border: 2px solid black;
                padding: 0px;
                border-radius: 10px;

                h1 {
                    text-align: center;
                    border-bottom: 2px dashed black;
                }

                p {
                    text-align: center;
                }

                .footer-container-content {}
            }

            .footer-container-2 {
                border: 2px solid black;
                padding: 0px;
                border-radius: 10px;

                h1 {
                    text-align: center;
                    border-bottom: 2px dashed black;
                }

                p {
                    text-align: center;
                }

                .footer-container-content {}
            }

            .footer-container-3 {
                border: 2px solid black;
                padding: 0px;
                border-radius: 10px;

                h1 {
                    text-align: center;
                    border-bottom: 2px dashed black;
                }

                p {
                    text-align: center;
                }

                .footer-container-content {}
            }

            .footer-container-4 {
                border: 2px solid black;
                padding: 0px;
                border-radius: 10px;

                h1 {
                    text-align: center;
                    border-bottom: 2px dashed black;

                }

                p {
                    text-align: center;
                }

                .footer-container-content {}
            }
        }
    }
}


/* media query for tablet or medium device started*/
@media screen and (min-width:576px) and (max-width:992px) {
    header {
        padding: 20px 10px;

        nav {
            flex-direction: column;

            .nav-logo-container {
                justify-content: center;
                align-items: center;
            }

            ul {

                justify-content: space-around;
                align-items: center;
                flex-wrap: wrap;

                li {
                    justify-content: center;
                    align-items: center;
                    margin-right: 0px;

                    a {
                        margin-bottom: 0px;
                        margin-right: 0px;
                        font-size: 1.2rem;
                    }

                }
            }

            .nav-logo-icon {
                justify-content: center;
            }
        }
    }

    footer {
        .footer-container {
            display: grid;
            grid-template-columns: repeat(4, 1fr);
            gap: 15px;
            border: 2px solid black;
            padding: 10px;
            border-radius: 10px;

            .footer-container-1 {
                border: 2px solid black;
                padding: 5px;
                border-radius: 10px;

                h1 {
                    text-align: center;
                    border-bottom: 2px dashed black;
                }

                p {
                    text-align: center;
                }

                .footer-container-content {}
            }

            .footer-container-2 {
                border: 2px solid black;
                padding: 5px;
                border-radius: 10px;

                h1 {
                    text-align: center;
                    border-bottom: 2px dashed black;
                }

                p {
                    text-align: center;
                }

                .footer-container-content {}
            }

            .footer-container-3 {
                border: 2px solid black;
                padding: 5px;
                border-radius: 10px;

                h1 {
                    text-align: center;
                    border-bottom: 2px dashed black;
                }

                p {
                    text-align: center;
                }

                .footer-container-content {}
            }

            .footer-container-4 {
                border: 2px solid black;
                padding: 5px;
                border-radius: 10px;

                h1 {
                    text-align: center;
                    border-bottom: 2px dashed black;

                }

                p {
                    text-align: center;
                }

                .footer-container-content {}
            }
        }
    }
}


/* media query for large device started*/
@media screen and (min-width:992px) and (max-width:1400px) {
    nav {
        justify-content: space-evenly;

        ul {

            justify-content: space-around;
            align-items: center;


            li {
                justify-content: center;
                align-items: center;

                a {
                    font-size: 1.5rem;
                }

            }
        }
    }

    footer {
        .footer-container {
            display: grid;
            grid-template-columns: repeat(4, 1fr);
            gap: 20px;
            border: 2px solid black;
            padding: 10px;
            border-radius: 10px;

            .footer-container-1 {
                border: 2px solid black;
                padding: 5px;
                border-radius: 10px;

                h1 {
                    text-align: center;
                    border-bottom: 2px dashed black;
                }

                p {
                    text-align: center;
                }

                .footer-container-content {}
            }

            .footer-container-2 {
                border: 2px solid black;
                padding: 5px;
                border-radius: 10px;

                h1 {
                    text-align: center;
                    border-bottom: 2px dashed black;
                }

                p {
                    text-align: center;
                }

                .footer-container-content {}
            }

            .footer-container-3 {
                border: 2px solid black;
                padding: 5px;
                border-radius: 10px;

                h1 {
                    text-align: center;
                    border-bottom: 2px dashed black;
                }

                p {
                    text-align: center;
                }

                .footer-container-content {}
            }

            .footer-container-4 {
                border: 2px solid black;
                padding: 5px;
                border-radius: 10px;

                h1 {
                    text-align: center;
                    border-bottom: 2px dashed black;

                }

                p {
                    text-align: center;
                }

                .footer-container-content {}
            }
        }
    }
}


/* media query for extra large device started*/
@media screen and (min-width:1400px) {
    nav {
        justify-content: space-evenly;

        ul {

            justify-content: space-around;
            align-items: center;


            li {
                justify-content: center;
                align-items: center;

                a {
                    font-size: 1.5rem;
                }

            }
        }
    }

    footer {
        .footer-container {
            display: grid;
            grid-template-columns: repeat(4, 1fr);
            gap: 20px;
            border: 2px solid black;
            padding: 10px;
            border-radius: 10px;

            .footer-container-1 {
                border: 2px solid black;
                padding: 5px;
                border-radius: 10px;

                h1 {
                    text-align: center;
                    border-bottom: 2px dashed black;
                }

                p {
                    text-align: center;
                }

                .footer-container-content {}
            }

            .footer-container-2 {
                border: 2px solid black;
                padding: 5px;
                border-radius: 10px;

                h1 {
                    text-align: center;
                    border-bottom: 2px dashed black;
                }

                p {
                    text-align: center;
                }

                .footer-container-content {}
            }

            .footer-container-3 {
                border: 2px solid black;
                padding: 5px;
                border-radius: 10px;

                h1 {
                    text-align: center;
                    border-bottom: 2px dashed black;
                }

                p {
                    text-align: center;
                }

                .footer-container-content {}
            }

            .footer-container-4 {
                border: 2px solid black;
                padding: 5px;
                border-radius: 10px;

                h1 {
                    text-align: center;
                    border-bottom: 2px dashed black;

                }

                p {
                    text-align: center;
                }

                .footer-container-content {}
            }
        }
    }
}