* {
    padding: 0px;
    font-family: Montserrat;
}

/* header section started   */
header {
    background-color: white;
    padding: 30px 75px;



    nav {
        display: flex;
        justify-content: space-between;
        border-top: 2px double black;
        border-bottom: 2px dotted black;

        .nav-logo-container {
            display: flex;

            h1 {
                font-size: 3rem;
                font-weight: 700;
                color: #131313;
            }


        }

        ul {

            display: flex;
            align-items: center;

            li {
                list-style-type: none;
                margin-right: 30px;
                font-weight: 500;
                font-size: 1rem;

                a {
                    text-decoration: none;
                    font-size: 1rem;
                    margin-right: 50px;
                    margin-bottom: 20px;
                    border-bottom: 1px solid black;
                    border-top: 1px solid black;
                    padding: 10px 5px;
                    border-radius: 8px;
                    color: #000;
                }

                .home {
                    text-decoration: none;
                    font-size: 1rem;
                    margin-right: 50px;
                    margin-bottom: 20px;
                    border-bottom: 1px solid black;
                    border-top: 1px solid white;
                    padding: 10px 5px;
                    border-radius: 8px;
                    color: black;
                    background-color: white;
                }



                a:hover {
                    text-decoration: none;
                    font-size: 1rem;
                    margin-right: 50px;
                    margin-bottom: 20px;
                    border-bottom: 1px solid black;
                    padding: 10px 5px;
                    border-radius: 8px;
                    color: white;
                    background-color: #000;
                    transition: all 2s ease-in-out 0.1s;
                }
            }
        }

        .nav-logo-icon {
            display: flex;
            align-items: center;
            padding: 20px 0px;

            i {
                font-size: 2rem;
                padding: 5px 20px;
            }
        }



    }
}

/* header section ended  */


/* main section start  */

main {
    padding: 30px 35px;
    /* hero section start  */

    .hero-container {
        display: flex;
        img {
            width: 120%;
        }
        .hero-content {
            display: flex;
            align-items: center;
            flex-direction: column;
            justify-content: center;
            padding-left: 80px;
            
            h1 {
                text-align: center;
                font-size: 2rem;
                font-weight: 900;
            }
    
            p {
                font-size: 1.3rem;
                font-weight: 500;
            }
    
            .btn-primary {
                font-size: 2rem;
                padding: 10px 25px;
                border: 2px solid black;
                border-radius: 10px;
                background-color: white;
                color: black;
                font-weight: 700;
                text-transform: capitalize;
            }
            .btn-primary:hover{
                font-size: 2rem;
                padding: 10px 25px;
                border: 2px solid black;
                border-radius: 10px;
                background-color: gray;
                color: white;
                font-weight: 700;
                transition: all 2s ease-in-out 0.1s;
            }
        }
    }

    
}

/* media query started  */
/* media query for mobile or small device started  */

@media screen and (max-width:576px) {
    header {
        padding: 20px 5px;

        nav {
            flex-direction: column;

            .nav-logo-container {
                justify-content: center;
                align-items: center;
            }

            ul {

                justify-content: space-around;
                align-items: center;
                flex-wrap: wrap;

                li {
                    justify-content: center;
                    align-items: center;
                    margin-right: 0px;

                    a {
                        margin-bottom: 0px;
                        margin-right: 0px;
                    }

                    .home {
                        margin-bottom: 0px;
                        margin-right: 0px;
                    }

                    a:hover {
                        margin-bottom: 0px;
                        margin-right: 0px;
                    }
                }

            }
        }

        .nav-logo-icon {
            justify-content: center;
        }

    }

    main {
        /* hero section start  */

        .hero-container {
            flex-direction: column;
            img {
                width: 100%;
                height: 300px;
            }

            .hero-content {
                display: flex;
                align-items: center;
                flex-direction: column;
                justify-content: center;
                padding-left: 0px;
                h1 {
                    text-align: center;
                    font-size: 2rem;
                    font-weight: 900;
                }

                p {
                    font-size: 1rem;
                    font-weight: 500;
                }

                .btn-primary {
                    font-size: 2rem;
                    padding: 10px 25px;
                    border: 2px solid black;
                    border-radius: 10px;
                    background-color: white;
                    color: black;
                    font-weight: 700;
                }
            }
        }

    }
}



/* media query for tablet or medium device started*/

@media screen and (min-width:576px) and (max-width:992px) {
    header {
        padding: 20px 10px;

        nav {
            flex-direction: column;

            .nav-logo-container {
                justify-content: center;
                align-items: center;
            }

            ul {

                justify-content: space-around;
                align-items: center;
                flex-wrap: wrap;

                li {
                    justify-content: center;
                    align-items: center;
                    margin-right: 0px;

                    a {
                        margin-bottom: 0px;
                        margin-right: 0px;
                        font-size: 1.2rem;
                    }

                }
            }

            .nav-logo-icon {
                justify-content: center;
            }
        }
    }

    main {
        /* hero section start  */

        .hero-container {
            flex-direction: column;
            img {
                width: 100%;
                
            }

            .hero-content {
                display: flex;
                align-items: center;
                flex-direction: column;
                justify-content: center;
                
                padding-left: 0px;
                h1 {
                    text-align: center;
                    font-size: 2.5rem;
                    font-weight: 900;
                }

                p {
                    font-size: 1.5rem;
                    font-weight: 500;
                }

                .btn-primary {
                    font-size: 2rem;
                    padding: 10px 25px;
                    border: 2px solid black;
                    border-radius: 10px;
                    background-color: white;
                    color: black;
                    font-weight: 700;
                }
            }
        }

    }
}


/* media query for large device started*/
@media screen and (min-width:992px) and (max-width:1400px) {
    nav {
        justify-content: space-evenly;

        ul {

            justify-content: space-around;
            align-items: center;


            li {
                justify-content: center;
                align-items: center;

                a {
                    font-size: 1.5rem;
                }

            }
        }
    }
    main {
        padding: 30px 25px;
        /* hero section start  */
    
        .hero-container {
            display: flex;
            img {
                width: 120%;
            }
            .hero-content {
                display: flex;
                align-items: center;
                flex-direction: column;
                justify-content: center;
                
                
                h1 {
                    text-align: center;
                    font-size: 2rem;
                    font-weight: 900;
                }
        
                p {
                    font-size: 1.3rem;
                    font-weight: 500;
                }
        
                .btn-primary {
                    font-size: 2rem;
                    padding: 10px 25px;
                    border: 2px solid black;
                    border-radius: 10px;
                    background-color: white;
                    color: black;
                    font-weight: 700;
                    text-transform: capitalize;
                }
                .btn-primary:hover{
                    font-size: 2rem;
                    padding: 10px 25px;
                    border: 2px solid black;
                    border-radius: 10px;
                    background-color: gray;
                    color: white;
                    font-weight: 700;
                    transition: all 2s ease-in-out 0.1s;
                }
            }
        }
    
        
    }
}


/* media query for extra large device started*/
@media screen and (min-width:1400px) and (max-width:1800px) {
    nav {
        justify-content: space-evenly;

        ul {

            justify-content: space-around;
            align-items: center;


            li {
                justify-content: center;
                align-items: center;

                a {
                    font-size: 1.5rem;
                }

            }
        }
    }
    main {
        padding: 30px 75px;
        /* hero section start  */
    
        .hero-container {
            display: flex;
            img {
                width: 100%;
            }
            .hero-content {
                display: flex;
                align-items: center;
                flex-direction: column;
                justify-content: center;
                
                
                h1 {
                    text-align: center;
                    font-size: 2rem;
                    font-weight: 900;
                }
        
                p {
                    font-size: 1.3rem;
                    font-weight: 500;
                }
        
                .btn-primary {
                    font-size: 2rem;
                    padding: 10px 25px;
                    border: 2px solid black;
                    border-radius: 10px;
                    background-color: white;
                    color: black;
                    font-weight: 700;
                    text-transform: capitalize;
                }
                .btn-primary:hover{
                    font-size: 2rem;
                    padding: 10px 25px;
                    border: 2px solid black;
                    border-radius: 10px;
                    background-color: gray;
                    color: white;
                    font-weight: 700;
                    transition: all 2s ease-in-out 0.1s;
                }
            }
        }
    
        
    }
}