* {
  padding: 0px;
  font-family: Montserrat;
}

/* header section started   */
header {
  background-color: white;
  padding: 30px 30px;
}
header nav {
  display: flex;
  justify-content: space-between;
  border-top: 2px double black;
  border-bottom: 2px dotted black;
}
header nav .nav-logo-container {
  display: flex;
}
header nav .nav-logo-container h1 {
  font-size: 3rem;
  font-weight: 700;
  color: #131313;
}
header nav ul {
  display: flex;
  align-items: center;
}
header nav ul li {
  list-style-type: none;
  margin-right: 30px;
  font-weight: 500;
  font-size: 1rem;
}
header nav ul li a {
  text-decoration: none;
  font-size: 1rem;
  margin-right: 50px;
  margin-bottom: 20px;
  border-bottom: 1px solid black;
  border-top: 1px solid black;
  padding: 10px 5px;
  border-radius: 8px;
  color: #000;
}
header nav ul li .home {
  text-decoration: none;
  font-size: 1rem;
  margin-right: 50px;
  margin-bottom: 20px;
  border-bottom: 1px solid black;
  border-top: 1px solid white;
  padding: 10px 5px;
  border-radius: 8px;
  color: black;
  background-color: white;
}
header nav ul li a:hover {
  text-decoration: none;
  font-size: 1rem;
  margin-right: 50px;
  margin-bottom: 20px;
  border-bottom: 1px solid black;
  padding: 10px 5px;
  border-radius: 8px;
  color: white;
  background-color: #000;
  transition: all 2s ease-in-out 0.1s;
}
header nav .nav-logo-icon {
  display: flex;
  align-items: center;
  padding: 20px 0px;
}
header nav .nav-logo-icon i {
  font-size: 2rem;
  padding: 5px 20px;
}
header nav .nav-logo-icon i:hover {
  color: white;
  background-color: black;
  border-radius: 8px;
  transition: all 2s ease-in-out 0.1s;
}

/* header section ended  */
/* main section start  */
main {
  padding: 30px 35px;
  /* hero section start  */
  /* hero section end  */
  /* our-service section start */
  /* our-service section end */
  /* our-collections section start  */
  /* our-collections section end  */
  /* last-blog-post section start */
  /* last-blog-post section end */
}
main .hero-container {
  display: flex;
}
main .hero-container img {
  width: 100%;
  border-radius: 10px;
}
main img:hover {
  width: 100%;
  border-radius: 10px;
}
main img:hover .hero-content {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  padding-left: 80px;
}
main img:hover .hero-content h1 {
  text-align: center;
  font-size: 2rem;
  font-weight: 900;
}
main img:hover .hero-content h1:hover {
  text-transform: capitalize;
  transition: all 3s ease-in-out 0.1s;
}
main img:hover p {
  font-size: 1.3rem;
  font-weight: 500;
}
main img:hover .btn-primary {
  font-size: 2rem;
  padding: 10px 25px;
  border: 2px solid black;
  border-radius: 10px;
  background-color: white;
  color: black;
  font-weight: 700;
  text-transform: capitalize;
}
main img:hover .btn-primary:hover {
  font-size: 2rem;
  padding: 10px 25px;
  border: 2px solid black;
  border-radius: 10px;
  background-color: gray;
  color: white;
  font-weight: 700;
  transition: all 2s ease-in-out 0.1s;
}
main .our-service {
  margin-top: 30px;
  display: inline-flex;
  padding: 30px 30px;
  flex-direction: column;
  align-items: center;
  gap: 40px;
  background-color: #F4F4F4;
  border-radius: 10px;
}
main .our-service .service-name {
  display: flex;
  flex-direction: column;
  padding: 8px;
  align-items: center;
  gap: 35px;
  color: skyblue;
}
main .our-service .service-name i {
  padding: 10px 10px;
}
main .our-service .service-name i:hover {
  color: white;
  background-color: black;
  border-radius: 8px;
  transition: all 2s ease-in-out 0.1s;
}
main .our-service .btn-primary {
  font-size: 1.2rem;
  padding: 10px 25px;
  border: 2px solid black;
  border-radius: 10px;
  background-color: white;
  color: black;
  font-weight: 700;
  text-transform: uppercase;
}
main .our-service .btn-primary:hover {
  font-size: 1.5rem;
  padding: 10px 25px;
  border: 2px solid black;
  border-radius: 10px;
  background-color: gray;
  color: white;
  font-weight: 700;
  transition: all 2s ease-in-out 0.1s;
}
main .our-collection {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
main .our-collection h1 {
  font-family: Prosto One;
  text-align: center;
  font-size: 2rem;
  font-weight: 900;
  text-transform: capitalize;
}
main .our-collection .our-card-collection {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
main .our-collection .our-card-collection .card-collection {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
main .our-collection .our-card-collection .card-content {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding-top: 5px;
  padding-right: 5px;
  padding-left: 5px;
  margin-bottom: 20px;
}
main .our-collection .our-card-collection .card-content img {
  width: 360px;
  height: 360px;
  border-radius: 10px;
}
main .our-collection .our-card-collection .card-content h3 {
  text-transform: uppercase;
  color: #282828;
  text-align: center;
  font-family: Prosto One;
  font-size: 1rem;
  font-weight: 500;
}
main .last-blog-post h1 {
  font-family: Prosto One;
  text-align: center;
  font-size: 2rem;
  font-weight: 900;
  text-transform: capitalize;
}
main .last-blog-post .last-blog-post-container .last-blog-post-container-1 .last-blog-post-container-1-content-1 img {
  width: 100%;
}
main .last-blog-post .last-blog-post-container .last-blog-post-container-1 .last-blog-post-container-1-content-2 {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  padding-bottom: 30px;
}
main .last-blog-post .last-blog-post-container .last-blog-post-container-1 .last-blog-post-container-1-content-2 .btn-primary {
  font-size: 1.2rem;
  padding: 10px 25px;
  border: 2px solid black;
  border-radius: 10px;
  background-color: white;
  color: black;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
}
main .last-blog-post .last-blog-post-container .last-blog-post-container-1 .last-blog-post-container-1-content-2 .btn-primary:hover {
  font-size: 1.5rem;
  padding: 10px 25px;
  border: 2px solid black;
  border-radius: 10px;
  text-align: center;
  background-color: gray;
  color: white;
  font-weight: 700;
  transition: all 2s ease-in-out 0.1s;
}
main .last-blog-post .last-blog-post-container .last-blog-post-container-2 .last-blog-post-container-2-content-1 img {
  width: 100%;
}
main .last-blog-post .last-blog-post-container .last-blog-post-container-2 .last-blog-post-container-2-content-2 {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  padding-bottom: 30px;
}
main .last-blog-post .last-blog-post-container .last-blog-post-container-2 .last-blog-post-container-2-content-2 .btn-primary {
  font-size: 1.2rem;
  padding: 10px 25px;
  border: 2px solid black;
  border-radius: 10px;
  background-color: white;
  color: black;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
}
main .last-blog-post .last-blog-post-container .last-blog-post-container-2 .last-blog-post-container-2-content-2 .btn-primary:hover {
  font-size: 1.5rem;
  padding: 10px 25px;
  border: 2px solid black;
  border-radius: 10px;
  background-color: gray;
  text-align: center;
  color: white;
  font-weight: 700;
  transition: all 2s ease-in-out 0.1s;
}

/* media query started  */
/* media query for mobile or small device started  */
@media screen and (max-width: 576px) {
  header {
    padding: 20px 5px;
  }
  header nav {
    display: f;
    flex-direction: column;
  }
  header nav .nav-logo-container {
    justify-content: center;
    align-items: center;
  }
  header nav ul {
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
  }
  header nav ul li {
    justify-content: center;
    align-items: center;
    margin-right: 0px;
  }
  header nav ul li a {
    margin-bottom: 0px;
    margin-right: 0px;
  }
  header nav ul li .home {
    margin-bottom: 0px;
    margin-right: 0px;
  }
  header nav ul li a:hover {
    margin-bottom: 0px;
    margin-right: 0px;
  }
  header nav .nav-logo-icon {
    justify-content: center;
  }
  main .hero-container {
    flex-direction: column;
  }
  main .hero-container img {
    width: 100%;
    height: 300px;
  }
  main .hero-container .hero-content {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    padding-left: 0px;
  }
  main .hero-container .hero-content h1 {
    text-align: center;
    font-size: 2rem;
    font-weight: 900;
  }
  main .hero-container .hero-content p {
    font-size: 1rem;
    font-weight: 500;
  }
  main .hero-container .hero-content .btn-primary {
    font-size: 2rem;
    padding: 10px 25px;
    border: 2px solid black;
    border-radius: 10px;
    background-color: white;
    color: black;
    font-weight: 700;
  }
  main .our-service {
    margin-top: 30px;
    display: inline-flex;
    padding: 20px 20px;
    flex-direction: column;
    align-items: center;
    gap: 40px;
    background-color: #F4F4F4;
  }
  main .our-service .service-name {
    display: flex;
    flex-direction: column;
    padding: 8px;
    align-items: center;
    gap: 35px;
  }
  main .our-service .service-name h3 {
    font-size: 1.5rem;
  }
  main .our-service .service-name h3 i {
    padding-right: 10px;
    font-size: 2rem;
  }
  main .our-service .btn-primary {
    font-size: 1.2rem;
    padding: 10px 25px;
    border: 2px solid black;
    border-radius: 10px;
    background-color: white;
    color: black;
    font-weight: 700;
    text-transform: uppercase;
  }
  main .our-service .btn-primary:hover {
    font-size: 1.5rem;
    padding: 10px 25px;
    border: 2px solid black;
    border-radius: 10px;
    background-color: gray;
    color: white;
    font-weight: 700;
    transition: all 2s ease-in-out 0.1s;
  }
  main .our-collection {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  main .our-collection h1 {
    text-align: center;
    font-size: 2rem;
    font-weight: 900;
    text-transform: capitalize;
  }
  main .our-collection .our-card-collection {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  main .our-collection .our-card-collection .card-collection {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  main .our-collection .our-card-collection .card-content {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding-top: 5px;
    padding-right: 5px;
    padding-left: 5px;
    margin-bottom: 20px;
  }
  main .our-collection .our-card-collection .card-content img {
    width: 100%;
  }
  main .our-collection .our-card-collection .card-content h3 {
    text-transform: uppercase;
    color: #282828;
    text-align: center;
    font-family: Montserrat;
    font-size: 1rem;
    font-weight: 500;
  }
  main .last-blog-post h1 {
    font-family: Prosto One;
    text-align: center;
    font-size: 2rem;
    font-weight: 900;
    text-transform: capitalize;
  }
  main .last-blog-post .last-blog-post-container .last-blog-post-container-1 .last-blog-post-container-1-content-1 img {
    width: 100%;
    border-radius: 10px;
  }
  main .last-blog-post .last-blog-post-container .last-blog-post-container-1 .last-blog-post-container-1-content-2 {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    padding-bottom: 30px;
  }
  main .last-blog-post .last-blog-post-container .last-blog-post-container-1 .last-blog-post-container-1-content-2 .btn-primary {
    font-size: 1.2rem;
    padding: 10px 25px;
    border: 2px solid black;
    border-radius: 10px;
    background-color: white;
    color: black;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
  }
  main .last-blog-post .last-blog-post-container .last-blog-post-container-1 .last-blog-post-container-1-content-2 .btn-primary:hover {
    font-size: 1.5rem;
    padding: 10px 25px;
    border: 2px solid black;
    border-radius: 10px;
    text-align: center;
    background-color: gray;
    color: white;
    font-weight: 700;
    transition: all 2s ease-in-out 0.1s;
  }
  main .last-blog-post .last-blog-post-container .last-blog-post-container-2 .last-blog-post-container-2-content-1 img {
    width: 100%;
    border-radius: 10px;
  }
  main .last-blog-post .last-blog-post-container .last-blog-post-container-2 .last-blog-post-container-2-content-2 {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    padding-bottom: 30px;
  }
  main .last-blog-post .last-blog-post-container .last-blog-post-container-2 .last-blog-post-container-2-content-2 .btn-primary {
    font-size: 1.2rem;
    padding: 10px 25px;
    border: 2px solid black;
    border-radius: 10px;
    background-color: white;
    color: black;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
  }
  main .last-blog-post .last-blog-post-container .last-blog-post-container-2 .last-blog-post-container-2-content-2 .btn-primary:hover {
    font-size: 1.5rem;
    padding: 10px 25px;
    border: 2px solid black;
    border-radius: 10px;
    background-color: gray;
    text-align: center;
    color: white;
    font-weight: 700;
    transition: all 2s ease-in-out 0.1s;
  }
}
/* media query for tablet or medium device started*/
@media screen and (min-width: 576px) and (max-width: 992px) {
  header {
    padding: 20px 10px;
  }
  header nav {
    flex-direction: column;
  }
  header nav .nav-logo-container {
    justify-content: center;
    align-items: center;
  }
  header nav ul {
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
  }
  header nav ul li {
    justify-content: center;
    align-items: center;
    margin-right: 0px;
  }
  header nav ul li a {
    margin-bottom: 0px;
    margin-right: 0px;
    font-size: 1.2rem;
  }
  header nav .nav-logo-icon {
    justify-content: center;
  }
  main .hero-container {
    flex-direction: column;
  }
  main .hero-container img {
    width: 100%;
    height: 600px;
  }
  main .hero-container .hero-content {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    padding-left: 0px;
  }
  main .hero-container .hero-content h1 {
    text-align: center;
    font-size: 2.5rem;
    font-weight: 900;
  }
  main .hero-container .hero-content p {
    font-size: 1.5rem;
    font-weight: 500;
  }
  main .hero-container .hero-content .btn-primary {
    font-size: 2rem;
    padding: 10px 25px;
    border: 2px solid black;
    border-radius: 10px;
    background-color: white;
    color: black;
    font-weight: 700;
  }
  main .our-service {
    margin-top: 30px;
    display: flex;
    padding: 30px 30px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 40px;
    background-color: #F4F4F4;
  }
  main .our-service .service-name {
    display: flex;
    flex-direction: column;
    padding: 8px;
    align-items: center;
    gap: 35px;
  }
  main .our-service .service-name h3 {
    font-size: 2rem;
  }
  main .our-service .service-name h3 i {
    padding-right: 10px;
    font-size: 2.6rem;
  }
  main .our-service .btn-primary {
    font-size: 1.2rem;
    padding: 10px 25px;
    border: 2px solid black;
    border-radius: 10px;
    background-color: white;
    color: black;
    font-weight: 700;
    text-transform: uppercase;
  }
  main .our-service .btn-primary:hover {
    font-size: 1.5rem;
    padding: 10px 25px;
    border: 2px solid black;
    border-radius: 10px;
    background-color: gray;
    color: white;
    font-weight: 700;
    transition: all 2s ease-in-out 0.1s;
  }
  main .our-collection {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  main .our-collection h1 {
    text-align: center;
    font-size: 2rem;
    font-weight: 900;
    text-transform: capitalize;
  }
  main .our-collection .our-card-collection {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  main .our-collection .our-card-collection .card-collection {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }
  main .our-collection .our-card-collection .card-content {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding-top: 5px;
    padding-right: 5px;
    padding-left: 5px;
    margin-bottom: 20px;
  }
  main .our-collection .our-card-collection .card-content img {
    width: 100%;
  }
  main .our-collection .our-card-collection .card-content h3 {
    text-transform: uppercase;
    color: #282828;
    text-align: center;
    font-family: Montserrat;
    font-size: 1rem;
    font-weight: 500;
  }
  main .last-blog-post h1 {
    font-family: Prosto One;
    text-align: center;
    font-size: 2rem;
    font-weight: 900;
    text-transform: capitalize;
  }
  main .last-blog-post .last-blog-post-container .last-blog-post-container-1 .last-blog-post-container-1-content-1 img {
    width: 100%;
    border-radius: 10px;
  }
  main .last-blog-post .last-blog-post-container .last-blog-post-container-1 .last-blog-post-container-1-content-2 {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    padding-bottom: 30px;
  }
  main .last-blog-post .last-blog-post-container .last-blog-post-container-1 .last-blog-post-container-1-content-2 .btn-primary {
    font-size: 1.2rem;
    padding: 10px 25px;
    border: 2px solid black;
    border-radius: 10px;
    background-color: white;
    color: black;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
  }
  main .last-blog-post .last-blog-post-container .last-blog-post-container-1 .last-blog-post-container-1-content-2 .btn-primary:hover {
    font-size: 1.5rem;
    padding: 10px 25px;
    border: 2px solid black;
    border-radius: 10px;
    text-align: center;
    background-color: gray;
    color: white;
    font-weight: 700;
    transition: all 2s ease-in-out 0.1s;
  }
  main .last-blog-post .last-blog-post-container .last-blog-post-container-2 .last-blog-post-container-2-content-1 img {
    width: 100%;
    border-radius: 10px;
  }
  main .last-blog-post .last-blog-post-container .last-blog-post-container-2 .last-blog-post-container-2-content-2 {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    padding-bottom: 30px;
  }
  main .last-blog-post .last-blog-post-container .last-blog-post-container-2 .last-blog-post-container-2-content-2 .btn-primary {
    font-size: 1.2rem;
    padding: 10px 25px;
    border: 2px solid black;
    border-radius: 10px;
    background-color: white;
    color: black;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
  }
  main .last-blog-post .last-blog-post-container .last-blog-post-container-2 .last-blog-post-container-2-content-2 .btn-primary:hover {
    font-size: 1.5rem;
    padding: 10px 25px;
    border: 2px solid black;
    border-radius: 10px;
    background-color: gray;
    text-align: center;
    color: white;
    font-weight: 700;
    transition: all 2s ease-in-out 0.1s;
  }
}
/* media query for large device started*/
@media screen and (min-width: 992px) and (max-width: 1400px) {
  nav {
    justify-content: space-evenly;
  }
  nav ul {
    justify-content: space-around;
    align-items: center;
  }
  nav ul li {
    justify-content: center;
    align-items: center;
  }
  nav ul li a {
    font-size: 1.5rem;
  }
  main {
    padding: 30px 30px;
  }
  main .hero-container {
    display: flex;
  }
  main .hero-container img {
    width: 120%;
  }
  main .hero-container .hero-content {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
  }
  main .hero-container .hero-content h1 {
    text-align: center;
    font-size: 2rem;
    font-weight: 900;
  }
  main .hero-container .hero-content p {
    font-size: 1.3rem;
    font-weight: 500;
  }
  main .hero-container .hero-content .btn-primary {
    font-size: 2rem;
    padding: 10px 25px;
    border: 2px solid black;
    border-radius: 10px;
    background-color: white;
    color: black;
    font-weight: 700;
    text-transform: capitalize;
  }
  main .hero-container .hero-content .btn-primary:hover {
    font-size: 2rem;
    padding: 10px 25px;
    border: 2px solid black;
    border-radius: 10px;
    background-color: gray;
    color: white;
    font-weight: 700;
    transition: all 2s ease-in-out 0.1s;
  }
  main .our-service {
    margin-top: 30px;
    display: flex;
    padding: 30px 30px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 40px;
    background-color: #F4F4F4;
  }
  main .our-service .service-name {
    display: flex;
    flex-direction: row;
    padding: 8px;
    align-items: center;
    gap: 35px;
  }
  main .our-service .service-name h3 {
    font-size: 2rem;
  }
  main .our-service .service-name h3 i {
    padding-right: 10px;
    font-size: 2.5rem;
  }
  main .our-service .btn-primary {
    font-size: 1.2rem;
    padding: 10px 25px;
    border: 2px solid black;
    border-radius: 10px;
    background-color: white;
    color: black;
    font-weight: 700;
    text-transform: uppercase;
  }
  main .our-service .btn-primary:hover {
    font-size: 1.5rem;
    padding: 10px 25px;
    border: 2px solid black;
    border-radius: 10px;
    background-color: gray;
    color: white;
    font-weight: 700;
    transition: all 2s ease-in-out 0.1s;
  }
  main .our-collection {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  main .our-collection h1 {
    text-align: center;
    font-size: 2rem;
    font-weight: 900;
    text-transform: capitalize;
  }
  main .our-collection .our-card-collection {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  main .our-collection .our-card-collection .card-collection {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }
  main .our-collection .our-card-collection .card-content {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding-top: 5px;
    padding-right: 5px;
    padding-left: 5px;
    margin-bottom: 20px;
  }
  main .our-collection .our-card-collection .card-content img {
    width: 100%;
  }
  main .our-collection .our-card-collection .card-content h3 {
    text-transform: uppercase;
    color: #282828;
    text-align: center;
    font-family: Montserrat;
    font-size: 1rem;
    font-weight: 500;
  }
  main .last-blog-post h1 {
    margin-bottom: 50px;
    font-family: Prosto One;
    text-align: center;
    font-size: 2rem;
    font-weight: 900;
    text-transform: capitalize;
  }
  main .last-blog-post .last-blog-post-container .last-blog-post-container-1 {
    display: flex;
  }
  main .last-blog-post .last-blog-post-container .last-blog-post-container-1 .last-blog-post-container-1-content-1 img {
    width: 100%;
    border-radius: 10px;
  }
  main .last-blog-post .last-blog-post-container .last-blog-post-container-1 .last-blog-post-container-1-content-2 {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    padding: 30px;
    width: 50%;
  }
  main .last-blog-post .last-blog-post-container .last-blog-post-container-1 .last-blog-post-container-1-content-2 .btn-primary {
    font-size: 1.2rem;
    padding: 10px 25px;
    border: 2px solid black;
    border-radius: 10px;
    background-color: white;
    color: black;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
  }
  main .last-blog-post .last-blog-post-container .last-blog-post-container-1 .last-blog-post-container-1-content-2 .btn-primary:hover {
    font-size: 1.5rem;
    padding: 10px 25px;
    border: 2px solid black;
    border-radius: 10px;
    text-align: center;
    background-color: gray;
    color: white;
    font-weight: 700;
    transition: all 2s ease-in-out 0.1s;
  }
  main .last-blog-post .last-blog-post-container .last-blog-post-container-2 {
    display: flex;
    flex-direction: row-reverse;
  }
  main .last-blog-post .last-blog-post-container .last-blog-post-container-2 .last-blog-post-container-2-content-1 img {
    width: 100%;
    border-radius: 10px;
  }
  main .last-blog-post .last-blog-post-container .last-blog-post-container-2 .last-blog-post-container-2-content-2 {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    padding: 30px;
    width: 50%;
  }
  main .last-blog-post .last-blog-post-container .last-blog-post-container-2 .last-blog-post-container-2-content-2 .btn-primary {
    font-size: 1.2rem;
    padding: 10px 25px;
    border: 2px solid black;
    border-radius: 10px;
    background-color: white;
    color: black;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
  }
  main .last-blog-post .last-blog-post-container .last-blog-post-container-2 .last-blog-post-container-2-content-2 .btn-primary:hover {
    font-size: 1.5rem;
    padding: 10px 25px;
    border: 2px solid black;
    border-radius: 10px;
    background-color: gray;
    text-align: center;
    color: white;
    font-weight: 700;
    transition: all 2s ease-in-out 0.1s;
  }
}
/* media query for extra large device started*/
@media screen and (min-width: 1400px) {
  nav {
    justify-content: space-evenly;
  }
  nav ul {
    justify-content: space-around;
    align-items: center;
  }
  nav ul li {
    justify-content: center;
    align-items: center;
  }
  nav ul li a {
    font-size: 1.5rem;
  }
  main {
    padding: 30px 30px;
  }
  main .hero-container {
    display: flex;
  }
  main .hero-container img {
    width: 100%;
  }
  main .hero-container .hero-content {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    padding-left: 50px;
  }
  main .hero-container .hero-content h1 {
    text-align: center;
    font-size: 2rem;
    font-weight: 900;
  }
  main .hero-container .hero-content p {
    font-size: 1.3rem;
    font-weight: 500;
  }
  main .hero-container .hero-content .btn-primary {
    font-size: 2rem;
    padding: 10px 25px;
    border: 2px solid black;
    border-radius: 10px;
    background-color: white;
    color: black;
    font-weight: 700;
    text-transform: capitalize;
  }
  main .hero-container .hero-content .btn-primary:hover {
    font-size: 2rem;
    padding: 10px 25px;
    border: 2px solid black;
    border-radius: 10px;
    background-color: gray;
    color: white;
    font-weight: 700;
    transition: all 2s ease-in-out 0.1s;
  }
  main .our-service {
    margin-top: 30px;
    display: flex;
    padding: 30px 30px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 40px;
    background-color: #F4F4F4;
  }
  main .our-service .service-name {
    display: flex;
    flex-direction: row;
    padding: 8px;
    align-items: center;
    gap: 40px;
  }
  main .our-service .service-name h3 {
    font-size: 2rem;
  }
  main .our-service .service-name h3 i {
    padding-right: 10px;
    font-size: 2.6rem;
  }
  main .our-service .btn-primary {
    font-size: 1.2rem;
    padding: 10px 25px;
    border: 2px solid black;
    border-radius: 10px;
    background-color: white;
    color: black;
    font-weight: 700;
    text-transform: uppercase;
  }
  main .our-service .btn-primary:hover {
    font-size: 1.2rem;
    padding: 10px 25px;
    border: 2px solid black;
    border-radius: 10px;
    background-color: gray;
    color: white;
    font-weight: 700;
    transition: all 2s ease-in-out 0.1s;
  }
  main .our-collection {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  main .our-collection h1 {
    text-align: center;
    font-size: 2rem;
    font-weight: 900;
    text-transform: capitalize;
  }
  main .our-collection .our-card-collection {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  main .our-collection .our-card-collection .card-collection {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }
  main .our-collection .our-card-collection .card-content {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding-top: 5px;
    padding-right: 5px;
    padding-left: 5px;
    margin-bottom: 20px;
  }
  main .our-collection .our-card-collection .card-content img {
    width: 100%;
  }
  main .our-collection .our-card-collection .card-content h3 {
    text-transform: uppercase;
    color: #282828;
    text-align: center;
    font-family: Montserrat;
    font-size: 1rem;
    font-weight: 500;
  }
  main .last-blog-post h1 {
    margin-bottom: 50px;
    font-family: Prosto One;
    text-align: center;
    font-size: 2rem;
    font-weight: 900;
    text-transform: capitalize;
  }
  main .last-blog-post .last-blog-post-container .last-blog-post-container-1 {
    display: flex;
  }
  main .last-blog-post .last-blog-post-container .last-blog-post-container-1 .last-blog-post-container-1-content-1 img {
    width: 100%;
    border-radius: 10px;
  }
  main .last-blog-post .last-blog-post-container .last-blog-post-container-1 .last-blog-post-container-1-content-2 {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    padding: 100px;
    width: 50%;
  }
  main .last-blog-post .last-blog-post-container .last-blog-post-container-1 .last-blog-post-container-1-content-2 .btn-primary {
    font-size: 1.2rem;
    padding: 10px 25px;
    border: 2px solid black;
    border-radius: 10px;
    background-color: white;
    color: black;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
  }
  main .last-blog-post .last-blog-post-container .last-blog-post-container-1 .last-blog-post-container-1-content-2 .btn-primary:hover {
    font-size: 1.5rem;
    padding: 10px 25px;
    border: 2px solid black;
    border-radius: 10px;
    text-align: center;
    background-color: gray;
    color: white;
    font-weight: 700;
    transition: all 2s ease-in-out 0.1s;
  }
  main .last-blog-post .last-blog-post-container .last-blog-post-container-2 {
    display: flex;
    flex-direction: row-reverse;
  }
  main .last-blog-post .last-blog-post-container .last-blog-post-container-2 .last-blog-post-container-2-content-1 img {
    width: 100%;
    border-radius: 10px;
  }
  main .last-blog-post .last-blog-post-container .last-blog-post-container-2 .last-blog-post-container-2-content-2 {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    padding: 100px;
    width: 50%;
  }
  main .last-blog-post .last-blog-post-container .last-blog-post-container-2 .last-blog-post-container-2-content-2 .btn-primary {
    font-size: 1.2rem;
    padding: 10px 25px;
    border: 2px solid black;
    border-radius: 10px;
    background-color: white;
    color: black;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
  }
  main .last-blog-post .last-blog-post-container .last-blog-post-container-2 .last-blog-post-container-2-content-2 .btn-primary:hover {
    font-size: 1.5rem;
    padding: 10px 25px;
    border: 2px solid black;
    border-radius: 10px;
    background-color: gray;
    text-align: center;
    color: white;
    font-weight: 700;
    transition: all 2s ease-in-out 0.1s;
  }
}/*# sourceMappingURL=style.css.map */