* {
    padding: 0px;
    font-family: Montserrat;
}

/* header section started   */
header {
    background-color: white;
    padding: 30px 30px;



    nav {
        display: flex;
        justify-content: space-between;
        border-top: 2px double black;
        border-bottom: 2px dotted black;

        .nav-logo-container {
            display: flex;

            h1 {
                font-size: 3rem;
                font-weight: 700;
                color: #131313;
            }


        }

        ul {

            display: flex;
            align-items: center;

            li {
                list-style-type: none;
                margin-right: 30px;
                font-weight: 500;
                font-size: 1rem;

                a {
                    text-decoration: none;
                    font-size: 1rem;
                    margin-right: 50px;
                    margin-bottom: 20px;
                    border-bottom: 1px solid black;
                    border-top: 1px solid black;
                    padding: 10px 5px;
                    border-radius: 8px;
                    color: #000;
                }

                .home {
                    text-decoration: none;
                    font-size: 1rem;
                    margin-right: 50px;
                    margin-bottom: 20px;
                    border-bottom: 1px solid black;
                    border-top: 1px solid white;
                    padding: 10px 5px;
                    border-radius: 8px;
                    color: black;
                    background-color: white;
                }



                a:hover {
                    text-decoration: none;
                    font-size: 1rem;
                    margin-right: 50px;
                    margin-bottom: 20px;
                    border-bottom: 1px solid black;
                    padding: 10px 5px;
                    border-radius: 8px;
                    color: white;
                    background-color: #000;
                    transition: all 2s ease-in-out 0.1s;
                }
            }
        }

        .nav-logo-icon {
            display: flex;
            align-items: center;
            padding: 20px 0px;

            i {
                font-size: 2rem;
                padding: 5px 20px;
            }

            i:hover {
                color: white;
                background-color: black;
                border-radius: 8px;
                transition: all 2s ease-in-out 0.1s;
            }
        }



    }
}

/* header section ended  */


/* main section start  */

main {
    padding: 30px 35px;
    /* hero section start  */

    .hero-container {
        display: flex;

        img {
            width: 100%;
            border-radius: 10px;
        }
    }

    img:hover {
        width: 100%;
        border-radius: 10px;

        .hero-content {
            display: flex;
            align-items: center;
            flex-direction: column;
            justify-content: center;
            padding-left: 80px;

            h1 {
                text-align: center;
                font-size: 2rem;
                font-weight: 900;
            }

            h1:hover {
                text-transform: capitalize;
                transition: all 3s ease-in-out 0.1s;
            }
        }

        p {
            font-size: 1.3rem;
            font-weight: 500;
        }

        .btn-primary {
            font-size: 2rem;
            padding: 10px 25px;
            border: 2px solid black;
            border-radius: 10px;
            background-color: white;
            color: black;
            font-weight: 700;
            text-transform: capitalize;
        }

        .btn-primary:hover {
            font-size: 2rem;
            padding: 10px 25px;
            border: 2px solid black;
            border-radius: 10px;
            background-color: gray;
            color: white;
            font-weight: 700;
            transition: all 2s ease-in-out 0.1s;
        }
    }


    /* hero section end  */


    /* our-service section start */
    .our-service {
        margin-top: 30px;
        display: inline-flex;
        padding: 30px 30px;
        flex-direction: column;
        align-items: center;
        gap: 40px;
        background-color: #F4F4F4;
        border-radius: 10px;
        .service-name {
            display: flex;
            flex-direction: column;
            padding: 8px;
            align-items: center;
            gap: 35px;
            color: skyblue;

            i {
                padding: 10px 10px;
            }

            i:hover {
                color: white;
                background-color: black;
                border-radius: 8px;
                transition: all 2s ease-in-out 0.1s;
            }
        }

        .btn-primary {
            font-size: 1.2rem;
            padding: 10px 25px;
            border: 2px solid black;
            border-radius: 10px;
            background-color: white;
            color: black;
            font-weight: 700;
            text-transform: uppercase;
        }

        .btn-primary:hover {
            font-size: 1.5rem;
            padding: 10px 25px;
            border: 2px solid black;
            border-radius: 10px;
            background-color: gray;
            color: white;
            font-weight: 700;
            transition: all 2s ease-in-out 0.1s;
        }
    }

    /* our-service section end */

    /* our-collections section start  */

    .our-collection {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;


        h1 {
            font-family: Prosto One;
            text-align: center;
            font-size: 2rem;
            font-weight: 900;
            text-transform: capitalize;
        }

        .our-card-collection {
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;

            .card-collection {
                display: flex;
                align-items: center;
                justify-content: center;
                flex-direction: column;
            }

            .card-content {
                display: flex;
                align-items: center;
                justify-content: center;
                flex-direction: column;

                padding-top: 5px;
                padding-right: 5px;
                padding-left: 5px;
                margin-bottom: 20px;

                img {
                    width: 360px;
                    height: 360px;
                    border-radius: 10px;
                }

                h3 {
                    text-transform: uppercase;
                    color: #282828;
                    text-align: center;
                    font-family: Prosto One;
                    font-size: 1rem;
                    font-weight: 500;

                }
            }
        }
    }

    /* our-collections section end  */

    /* last-blog-post section start */
    .last-blog-post {

        h1 {

            font-family: Prosto One;
            text-align: center;
            font-size: 2rem;
            font-weight: 900;
            text-transform: capitalize;
        }

        .last-blog-post-container {
            .last-blog-post-container-1 {
                .last-blog-post-container-1-content-1 {
                    img {
                        width: 100%;
                    }
                }

                .last-blog-post-container-1-content-2 {
                    display: flex;
                    align-items: center;
                    flex-direction: column;
                    justify-content: center;
                    padding-bottom: 30px;
                    .btn-primary {
                        font-size: 1.2rem;
                        padding: 10px 25px;
                        border: 2px solid black;
                        border-radius: 10px;
                        background-color: white;
                        color: black;
                        font-weight: 700;
                        text-transform: uppercase;
                        text-align: center;
                    }

                    .btn-primary:hover {
                        font-size: 1.5rem;
                        padding: 10px 25px;
                        border: 2px solid black;
                        border-radius: 10px;
                        text-align: center;
                        background-color: gray;
                        color: white;
                        font-weight: 700;
                        transition: all 2s ease-in-out 0.1s;
                    }
                }
            }

            .last-blog-post-container-2 {

                .last-blog-post-container-2-content-1 {
                    img {
                        width: 100%;
                    }
                }

                .last-blog-post-container-2-content-2 {
                    display: flex;
                    align-items: center;
                    flex-direction: column;
                    justify-content: center;
                    padding-bottom: 30px;
                    .btn-primary {
                        font-size: 1.2rem;
                        padding: 10px 25px;
                        border: 2px solid black;
                        border-radius: 10px;
                        background-color: white;
                        color: black;
                        font-weight: 700;
                        text-transform: uppercase;
                        text-align: center;
                    }

                    .btn-primary:hover {
                        font-size: 1.5rem;
                        padding: 10px 25px;
                        border: 2px solid black;
                        border-radius: 10px;
                        background-color: gray;
                        text-align: center;
                        color: white;
                        font-weight: 700;
                        transition: all 2s ease-in-out 0.1s;
                    }
                }
            }
        }
    }

    /* last-blog-post section end */


}









/* media query started  */
/* media query for mobile or small device started  */

@media screen and (max-width:576px) {
    header {
        padding: 20px 5px;

        nav {
            display: f;
            flex-direction: column;

            .nav-logo-container {
                justify-content: center;
                align-items: center;
            }

            ul {

                justify-content: space-around;
                align-items: center;
                flex-wrap: wrap;

                li {
                    justify-content: center;
                    align-items: center;
                    margin-right: 0px;

                    a {
                        margin-bottom: 0px;
                        margin-right: 0px;
                    }

                    .home {
                        margin-bottom: 0px;
                        margin-right: 0px;
                    }

                    a:hover {
                        margin-bottom: 0px;
                        margin-right: 0px;
                    }
                }

            }

            .nav-logo-icon {
                justify-content: center;
            }
        }



    }

    main {


        .hero-container {
            flex-direction: column;

            img {
                width: 100%;
                height: 300px;
            }

            .hero-content {
                display: flex;
                align-items: center;
                flex-direction: column;
                justify-content: center;
                padding-left: 0px;

                h1 {
                    text-align: center;
                    font-size: 2rem;
                    font-weight: 900;
                }

                p {
                    font-size: 1rem;
                    font-weight: 500;
                }

                .btn-primary {
                    font-size: 2rem;
                    padding: 10px 25px;
                    border: 2px solid black;
                    border-radius: 10px;
                    background-color: white;
                    color: black;
                    font-weight: 700;
                }
            }
        }


        .our-service {
            margin-top: 30px;
            display: inline-flex;
            padding: 20px 20px;
            flex-direction: column;
            align-items: center;
            gap: 40px;
            background-color: #F4F4F4;

            .service-name {
                display: flex;
                flex-direction: column;
                padding: 8px;
                align-items: center;
                gap: 35px;

                h3 {
                    font-size: 1.5rem;

                    i {
                        padding-right: 10px;
                        font-size: 2rem;
                    }
                }

            }

            .btn-primary {
                font-size: 1.2rem;
                padding: 10px 25px;
                border: 2px solid black;
                border-radius: 10px;
                background-color: white;
                color: black;
                font-weight: 700;
                text-transform: uppercase;
            }

            .btn-primary:hover {
                font-size: 1.5rem;
                padding: 10px 25px;
                border: 2px solid black;
                border-radius: 10px;
                background-color: gray;
                color: white;
                font-weight: 700;
                transition: all 2s ease-in-out 0.1s;
            }
        }

        .our-collection {
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;


            h1 {
                text-align: center;
                font-size: 2rem;
                font-weight: 900;
                text-transform: capitalize;
            }

            .our-card-collection {
                display: flex;
                align-items: center;
                justify-content: center;
                flex-direction: column;

                .card-collection {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    flex-direction: column;
                }

                .card-content {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    flex-direction: column;

                    padding-top: 5px;
                    padding-right: 5px;
                    padding-left: 5px;
                    margin-bottom: 20px;

                    img {
                        width: 100%;

                    }

                    h3 {
                        text-transform: uppercase;
                        color: #282828;
                        text-align: center;
                        font-family: Montserrat;
                        font-size: 1rem;
                        font-weight: 500;

                    }
                }
            }
        }

        .last-blog-post {

            h1 {
    
                font-family: Prosto One;
                text-align: center;
                font-size: 2rem;
                font-weight: 900;
                text-transform: capitalize;
            }
    
            .last-blog-post-container {
                .last-blog-post-container-1 {
                    .last-blog-post-container-1-content-1 {
                        img {
                            width: 100%;
                            border-radius: 10px;
                        }
                    }
    
                    .last-blog-post-container-1-content-2 {
                        display: flex;
                        align-items: center;
                        flex-direction: column;
                        justify-content: center;
                        padding-bottom: 30px;
                        .btn-primary {
                            font-size: 1.2rem;
                            padding: 10px 25px;
                            border: 2px solid black;
                            border-radius: 10px;
                            background-color: white;
                            color: black;
                            font-weight: 700;
                            text-transform: uppercase;
                            text-align: center;
                        }
    
                        .btn-primary:hover {
                            font-size: 1.5rem;
                            padding: 10px 25px;
                            border: 2px solid black;
                            border-radius: 10px;
                            text-align: center;
                            background-color: gray;
                            color: white;
                            font-weight: 700;
                            transition: all 2s ease-in-out 0.1s;
                        }
                    }
                }
    
                .last-blog-post-container-2 {
    
                    .last-blog-post-container-2-content-1 {
                        img {
                            width: 100%;
                            border-radius: 10px;
                        }
                    }
    
                    .last-blog-post-container-2-content-2 {
                        display: flex;
                        align-items: center;
                        flex-direction: column;
                        justify-content: center;
                        padding-bottom: 30px;
                        .btn-primary {
                            font-size: 1.2rem;
                            padding: 10px 25px;
                            border: 2px solid black;
                            border-radius: 10px;
                            background-color: white;
                            color: black;
                            font-weight: 700;
                            text-transform: uppercase;
                            text-align: center;
                        }
    
                        .btn-primary:hover {
                            font-size: 1.5rem;
                            padding: 10px 25px;
                            border: 2px solid black;
                            border-radius: 10px;
                            background-color: gray;
                            text-align: center;
                            color: white;
                            font-weight: 700;
                            transition: all 2s ease-in-out 0.1s;
                        }
                    }
                }
            }
        }
    }
}



/* media query for tablet or medium device started*/

@media screen and (min-width:576px) and (max-width:992px) {
    header {
        padding: 20px 10px;

        nav {
            flex-direction: column;

            .nav-logo-container {
                justify-content: center;
                align-items: center;
            }

            ul {

                justify-content: space-around;
                align-items: center;
                flex-wrap: wrap;

                li {
                    justify-content: center;
                    align-items: center;
                    margin-right: 0px;

                    a {
                        margin-bottom: 0px;
                        margin-right: 0px;
                        font-size: 1.2rem;
                    }

                }
            }

            .nav-logo-icon {
                justify-content: center;
            }
        }
    }

    main {


        .hero-container {
            flex-direction: column;

            img {
                width: 100%;
                height: 600px;
            }

            .hero-content {
                display: flex;
                align-items: center;
                flex-direction: column;
                justify-content: center;

                padding-left: 0px;

                h1 {
                    text-align: center;
                    font-size: 2.5rem;
                    font-weight: 900;
                }

                p {
                    font-size: 1.5rem;
                    font-weight: 500;
                }

                .btn-primary {
                    font-size: 2rem;
                    padding: 10px 25px;
                    border: 2px solid black;
                    border-radius: 10px;
                    background-color: white;
                    color: black;
                    font-weight: 700;
                }
            }
        }

        .our-service {
            margin-top: 30px;
            display: flex;
            padding: 30px 30px;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            gap: 40px;
            background-color: #F4F4F4;

            .service-name {
                display: flex;
                flex-direction: column;
                padding: 8px;
                align-items: center;
                gap: 35px;

                h3 {
                    font-size: 2rem;

                    i {
                        padding-right: 10px;
                        font-size: 2.6rem;
                    }
                }
            }

            .btn-primary {
                font-size: 1.2rem;
                padding: 10px 25px;
                border: 2px solid black;
                border-radius: 10px;
                background-color: white;
                color: black;
                font-weight: 700;
                text-transform: uppercase;
            }

            .btn-primary:hover {
                font-size: 1.5rem;
                padding: 10px 25px;
                border: 2px solid black;
                border-radius: 10px;
                background-color: gray;
                color: white;
                font-weight: 700;
                transition: all 2s ease-in-out 0.1s;
            }
        }

        .our-collection {
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;


            h1 {
                text-align: center;
                font-size: 2rem;
                font-weight: 900;
                text-transform: capitalize;
            }

            .our-card-collection {
                display: flex;
                align-items: center;
                justify-content: center;
                flex-direction: column;

                .card-collection {
                    display: grid;
                    grid-template-columns: repeat(3, 1fr);
                }

                .card-content {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    flex-direction: column;

                    padding-top: 5px;
                    padding-right: 5px;
                    padding-left: 5px;
                    margin-bottom: 20px;

                    img {
                        width: 100%;
                    }

                    h3 {
                        text-transform: uppercase;
                        color: #282828;
                        text-align: center;
                        font-family: Montserrat;
                        font-size: 1rem;
                        font-weight: 500;

                    }
                }
            }
        }

        .last-blog-post {

            h1 {
    
                font-family: Prosto One;
                text-align: center;
                font-size: 2rem;
                font-weight: 900;
                text-transform: capitalize;
            }
    
            .last-blog-post-container {
                .last-blog-post-container-1 {
                    .last-blog-post-container-1-content-1 {
                        img {
                            width: 100%;
                            border-radius: 10px;
                        }
                    }
    
                    .last-blog-post-container-1-content-2 {
                        display: flex;
                        align-items: center;
                        flex-direction: column;
                        justify-content: center;
                        padding-bottom: 30px;
                        .btn-primary {
                            font-size: 1.2rem;
                            padding: 10px 25px;
                            border: 2px solid black;
                            border-radius: 10px;
                            background-color: white;
                            color: black;
                            font-weight: 700;
                            text-transform: uppercase;
                            text-align: center;
                        }
    
                        .btn-primary:hover {
                            font-size: 1.5rem;
                            padding: 10px 25px;
                            border: 2px solid black;
                            border-radius: 10px;
                            text-align: center;
                            background-color: gray;
                            color: white;
                            font-weight: 700;
                            transition: all 2s ease-in-out 0.1s;
                        }
                    }
                }
    
                .last-blog-post-container-2 {
    
                    .last-blog-post-container-2-content-1 {
                        img {
                            width: 100%;
                            border-radius: 10px;
                        }
                    }
    
                    .last-blog-post-container-2-content-2 {
                        display: flex;
                        align-items: center;
                        flex-direction: column;
                        justify-content: center;
                        padding-bottom: 30px;
                        .btn-primary {
                            font-size: 1.2rem;
                            padding: 10px 25px;
                            border: 2px solid black;
                            border-radius: 10px;
                            background-color: white;
                            color: black;
                            font-weight: 700;
                            text-transform: uppercase;
                            text-align: center;
                        }
    
                        .btn-primary:hover {
                            font-size: 1.5rem;
                            padding: 10px 25px;
                            border: 2px solid black;
                            border-radius: 10px;
                            background-color: gray;
                            text-align: center;
                            color: white;
                            font-weight: 700;
                            transition: all 2s ease-in-out 0.1s;
                        }
                    }
                }
            }
        }
    }
}




/* media query for large device started*/
@media screen and (min-width:992px) and (max-width:1400px) {
    nav {
        justify-content: space-evenly;

        ul {

            justify-content: space-around;
            align-items: center;


            li {
                justify-content: center;
                align-items: center;

                a {
                    font-size: 1.5rem;
                }

            }
        }
    }

    main {
        padding: 30px 30px;


        .hero-container {
            display: flex;

            img {
                width: 120%;
            }

            .hero-content {
                display: flex;
                align-items: center;
                flex-direction: column;
                justify-content: center;


                h1 {
                    text-align: center;
                    font-size: 2rem;
                    font-weight: 900;
                }

                p {
                    font-size: 1.3rem;
                    font-weight: 500;
                }

                .btn-primary {
                    font-size: 2rem;
                    padding: 10px 25px;
                    border: 2px solid black;
                    border-radius: 10px;
                    background-color: white;
                    color: black;
                    font-weight: 700;
                    text-transform: capitalize;
                }

                .btn-primary:hover {
                    font-size: 2rem;
                    padding: 10px 25px;
                    border: 2px solid black;
                    border-radius: 10px;
                    background-color: gray;
                    color: white;
                    font-weight: 700;
                    transition: all 2s ease-in-out 0.1s;
                }
            }
        }

        .our-service {
            margin-top: 30px;
            display: flex;
            padding: 30px 30px;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            gap: 40px;
            background-color: #F4F4F4;

            .service-name {
                display: flex;
                flex-direction: row;
                padding: 8px;
                align-items: center;
                gap: 35px;

                h3 {
                    font-size: 2rem;

                    i {
                        padding-right: 10px;
                        font-size: 2.5rem;
                    }
                }
            }

            .btn-primary {
                font-size: 1.2rem;
                padding: 10px 25px;
                border: 2px solid black;
                border-radius: 10px;
                background-color: white;
                color: black;
                font-weight: 700;
                text-transform: uppercase;
            }

            .btn-primary:hover {
                font-size: 1.5rem;
                padding: 10px 25px;
                border: 2px solid black;
                border-radius: 10px;
                background-color: gray;
                color: white;
                font-weight: 700;
                transition: all 2s ease-in-out 0.1s;
            }
        }

        .our-collection {
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;


            h1 {
                text-align: center;
                font-size: 2rem;
                font-weight: 900;
                text-transform: capitalize;
            }

            .our-card-collection {
                display: flex;
                align-items: center;
                justify-content: center;
                flex-direction: column;

                .card-collection {
                    display: grid;
                    grid-template-columns: repeat(3, 1fr);
                }

                .card-content {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    flex-direction: column;

                    padding-top: 5px;
                    padding-right: 5px;
                    padding-left: 5px;
                    margin-bottom: 20px;

                    img {
                        width: 100%;
                    }

                    h3 {
                        text-transform: uppercase;
                        color: #282828;
                        text-align: center;
                        font-family: Montserrat;
                        font-size: 1rem;
                        font-weight: 500;

                    }
                }
            }
        }

        .last-blog-post {

            h1 {
                margin-bottom: 50px;
                font-family: Prosto One;
                text-align: center;
                font-size: 2rem;
                font-weight: 900;
                text-transform: capitalize;
            }
    
            .last-blog-post-container {
                .last-blog-post-container-1 {
                    display: flex;
                    .last-blog-post-container-1-content-1 {
                        img {
                            width: 100%;
                            border-radius: 10px;
                        }
                    }
    
                    .last-blog-post-container-1-content-2 {
                        display: flex;
                        align-items: center;
                        flex-direction: column;
                        justify-content: center;
                        padding: 30px;
                        width: 50%;
                        .btn-primary {
                            font-size: 1.2rem;
                            padding: 10px 25px;
                            border: 2px solid black;
                            border-radius: 10px;
                            background-color: white;
                            color: black;
                            font-weight: 700;
                            text-transform: uppercase;
                            text-align: center;
                        }
    
                        .btn-primary:hover {
                            font-size: 1.5rem;
                            padding: 10px 25px;
                            border: 2px solid black;
                            border-radius: 10px;
                            text-align: center;
                            background-color: gray;
                            color: white;
                            font-weight: 700;
                            transition: all 2s ease-in-out 0.1s;
                        }
                    }
                }
    
                .last-blog-post-container-2 {
                    display: flex;
                    flex-direction: row-reverse;
                    .last-blog-post-container-2-content-1 {
                        img {
                            width: 100%;
                            border-radius: 10px;
                        }
                    }
    
                    .last-blog-post-container-2-content-2 {
                        display: flex;
                        align-items: center;
                        flex-direction: column;
                        justify-content: center;
                        padding: 30px;
                        width: 50%;
                        .btn-primary {
                            font-size: 1.2rem;
                            padding: 10px 25px;
                            border: 2px solid black;
                            border-radius: 10px;
                            background-color: white;
                            color: black;
                            font-weight: 700;
                            text-transform: uppercase;
                            text-align: center;
                        }
    
                        .btn-primary:hover {
                            font-size: 1.5rem;
                            padding: 10px 25px;
                            border: 2px solid black;
                            border-radius: 10px;
                            background-color: gray;
                            text-align: center;
                            color: white;
                            font-weight: 700;
                            transition: all 2s ease-in-out 0.1s;
                        }
                    }
                }
            }
        }
    }
}



/* media query for extra large device started*/
@media screen and (min-width:1400px) {
    nav {
        justify-content: space-evenly;

        ul {

            justify-content: space-around;
            align-items: center;


            li {
                justify-content: center;
                align-items: center;

                a {
                    font-size: 1.5rem;
                }

            }
        }
    }

    main {
        padding: 30px 30px;


        .hero-container {
            display: flex;

            img {
                width: 100%;
            }

            .hero-content {
                display: flex;
                align-items: center;
                flex-direction: column;
                justify-content: center;
                padding-left: 50px;

                h1 {
                    text-align: center;
                    font-size: 2rem;
                    font-weight: 900;
                }

                p {
                    font-size: 1.3rem;
                    font-weight: 500;
                }

                .btn-primary {
                    font-size: 2rem;
                    padding: 10px 25px;
                    border: 2px solid black;
                    border-radius: 10px;
                    background-color: white;
                    color: black;
                    font-weight: 700;
                    text-transform: capitalize;
                }

                .btn-primary:hover {
                    font-size: 2rem;
                    padding: 10px 25px;
                    border: 2px solid black;
                    border-radius: 10px;
                    background-color: gray;
                    color: white;
                    font-weight: 700;
                    transition: all 2s ease-in-out 0.1s;
                }
            }
        }

        .our-service {
            margin-top: 30px;
            display: flex;
            padding: 30px 30px;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            gap: 40px;
            background-color: #F4F4F4;

            .service-name {
                display: flex;
                flex-direction: row;
                padding: 8px;
                align-items: center;
                gap: 40px;

                h3 {
                    font-size: 2rem;

                    i {
                        padding-right: 10px;
                        font-size: 2.6rem;
                    }
                }
            }

            .btn-primary {
                font-size: 1.2rem;
                padding: 10px 25px;
                border: 2px solid black;
                border-radius: 10px;
                background-color: white;
                color: black;
                font-weight: 700;
                text-transform: uppercase;
            }

            .btn-primary:hover {
                font-size: 1.2rem;
                padding: 10px 25px;
                border: 2px solid black;
                border-radius: 10px;
                background-color: gray;
                color: white;
                font-weight: 700;
                transition: all 2s ease-in-out 0.1s;
            }
        }

        .our-collection {
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;


            h1 {
                text-align: center;
                font-size: 2rem;
                font-weight: 900;
                text-transform: capitalize;
            }

            .our-card-collection {
                display: flex;
                align-items: center;
                justify-content: center;
                flex-direction: column;

                .card-collection {
                    display: grid;
                    grid-template-columns: repeat(3, 1fr);
                }

                .card-content {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    flex-direction: column;

                    padding-top: 5px;
                    padding-right: 5px;
                    padding-left: 5px;
                    margin-bottom: 20px;

                    img {
                        width: 100%;
                    }

                    h3 {
                        text-transform: uppercase;
                        color: #282828;
                        text-align: center;
                        font-family: Montserrat;
                        font-size: 1rem;
                        font-weight: 500;

                    }
                }
            }
        }

        .last-blog-post {

            h1 {
                margin-bottom: 50px;
                font-family: Prosto One;
                text-align: center;
                font-size: 2rem;
                font-weight: 900;
                text-transform: capitalize;
            }
    
            .last-blog-post-container {
                .last-blog-post-container-1 {
                    display: flex;
                    .last-blog-post-container-1-content-1 {
                        img {
                            width: 100%;
                            border-radius: 10px;
                        }
                    }
    
                    .last-blog-post-container-1-content-2 {
                        display: flex;
                        align-items: center;
                        flex-direction: column;
                        justify-content: center;
                        padding: 100px;
                        width: 50%;
                        .btn-primary {
                            font-size: 1.2rem;
                            padding: 10px 25px;
                            border: 2px solid black;
                            border-radius: 10px;
                            background-color: white;
                            color: black;
                            font-weight: 700;
                            text-transform: uppercase;
                            text-align: center;
                        }
    
                        .btn-primary:hover {
                            font-size: 1.5rem;
                            padding: 10px 25px;
                            border: 2px solid black;
                            border-radius: 10px;
                            text-align: center;
                            background-color: gray;
                            color: white;
                            font-weight: 700;
                            transition: all 2s ease-in-out 0.1s;
                        }
                    }
                }
    
                .last-blog-post-container-2 {
                    display: flex;
                    flex-direction: row-reverse;
                    .last-blog-post-container-2-content-1 {
                        img {
                            width: 100%;
                            border-radius: 10px;
                        }
                    }
    
                    .last-blog-post-container-2-content-2 {
                        display: flex;
                        align-items: center;
                        flex-direction: column;
                        justify-content: center;
                        padding: 100px;
                        width: 50%;
                        .btn-primary {
                            font-size: 1.2rem;
                            padding: 10px 25px;
                            border: 2px solid black;
                            border-radius: 10px;
                            background-color: white;
                            color: black;
                            font-weight: 700;
                            text-transform: uppercase;
                            text-align: center;
                        }
    
                        .btn-primary:hover {
                            font-size: 1.5rem;
                            padding: 10px 25px;
                            border: 2px solid black;
                            border-radius: 10px;
                            background-color: gray;
                            text-align: center;
                            color: white;
                            font-weight: 700;
                            transition: all 2s ease-in-out 0.1s;
                        }
                    }
                }
            }
        }
    }


}