* {
    padding: 0px;
    font-family: Montserrat;
}

/* header section started   */
header {
    background-color: white;
    padding: 30px 75px;



    nav {
        display: flex;
        justify-content: space-between;
       

        .nav-logo-container {
            display: flex;
           
            h1{
                font-size: 3rem;
                font-weight: 700;
                color: #131313;
            }


        }

        ul {

            display: flex;
            li {
                list-style-type: none;
                margin-right: 30px;
                font-weight: 500;
                font-size: 1rem;

                a {
                    text-decoration: none;
                }

                .home {}



                a:hover {}
            }
        }





    }
}

/* header section ended  */

/* media query started  */

/* media query for mobile or small device started  */

@media screen and (max-width:576px) {
    header{
        padding: 20px 5px;
        nav{
            flex-direction: column;
           
        }
    }
}


/* media query for tablet or medium device started

@media screen and (min-width:576px) and (max-width:992px) {}


@media screen and (min-width:992px) and (max-width:1400px) {

}*/